<div class="col-md-12 portlet portlet_et_testing">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-check-square-o" aria-hidden="true"></i>
			<%=data.title%>
			<span class="plate_asof"><!--(As of : 3rd July 2016)--></span>
		</div>
		<div class="col-md-12 portlet_content">
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th>Static Test</th>
							<th>PAT</th>
							<th>SAT</th>
							<th>IT</th>
							<th>SIT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>88%</td>
							<td>88%</td>
							<td>88%</td>
							<td>88%</td>
							<td>88%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!--<div class="col-md-5">-->
	<!--<div class="row">-->
		<!--<div class="content">-->
			<!--<div style="height: 90%;" id="chart_<%=data.id%>">></div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->