<div class="col-md-12 portlet portlet_kpi">
    <div class="row content">
        <div class="col-md-12 portlet_title">
            <i class="fa_title_icon fa fa-pie-chart" aria-hidden="true"></i>
            <%=data.title%>
            <!--<span class="plate_asof">(As of : 3rd July 2016)</span>-->
        </div>
        <div class="col-md-12 portlet_content">
            <a href="javascript:void(0)" onClick="loadPage('<%=data.data.url%>')">
            <div class="col-md-3 halfdonut">
                <div class="content">
                    <div id="chart_0" style="overflow: hidden;"></div>
                </div>
                <span class="title kpi" id="p0"></span>
            </div>
            <div class="col-md-3 halfdonut">
                <div class="content">
                    <div id="chart_1" style="overflow: hidden;"></div>
                </div>
                <span class="title kpi" id="p1"></span>
            </div>
            <div class="col-md-3 halfdonut">
                <div class="content">
                    <div id="chart_2" style="overflow: hidden;"></div>
                </div>
                <span class="title kpi" id="p2"></span>
            </div>
            <div class="col-md-3 halfdonut">
                <div class="content">
                    <div id="chart_3" style="overflow: hidden;"></div>
                </div>
                <span class="title kpi" id="p3"></span>
            </div>
            </a>
        </div>
    </div>
</div>