<div class="col-md-12 portlet mpxd1_gis">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-map-o" aria-hidden="true"></i>
			<% if (typeof(data.data[0]) !=="undefined"){%>
			<% if (typeof(data.data[0].date) !== "undefined") { %>
				<%=data.title%> <span class="plate_asof">(As of : <%=data.data[0].date%>) </span>
			<% } else {%>
				<%=data.title%>
			<% }}else {%>
				<%=data.title%>
			<% }%>
		</div>
		
		<!-- -- -- -- -->
		
		<div id="infographic" class="">
			<div class="ig_plate">
				
				<!-- -- -- -- -->

				<div id="float_plate" class="row">
					<div id="plate_vector_map" class="plate_vector_map">
						missing plate_vector_map.svg
					</div>
					
					<div id="plate_legend" class="hidden">
						<div id="pl_label_header">
							<span class="set1">Legends</span>
						</div>
						<div id="pl_label_content">
							<span class="set1">poi</span>
							<span class="set2">poi</span>
							<span class="set3">poi</span>
							<span class="set4">poi</span>
							<span class="set5">poi</span>
							<span class="set6">poi</span>
							<span class="set7">poi</span>
							<span class="set8">poi</span>
							<span class="set9">poi</span>
							<span class="set10">poi</span>
							<span class="set11">poi</span>
							<span class="set12">poi</span>
							
							

						</div>
					</div>
							
					
					<div id="plate_system" class="hidden">
						<div id="donut_plate">
							<div id="dp_db_donut_0" class="dp_top"></div>
						</div>
					</div>
					
					<div id="button_group" class="hidden">
						<div class="menu">
						
							<div id="box1_modal-track" class="modal fade -modal-lg modal_table" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h2 class="modal-title">Tracks Works</h2>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<table class="table table-bordered">
												<thead>

														<center><h3></h3></center>
													
													<tr>
														<th>Activities</th>
														<th>Percentage(%)</th>
														
													</tr>
												</thead>
												<tbody></tbody>
												
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>

							<div id="box1" class="box">


								<div class="up"></div>
								<a href="#" data-toggle="modal" data-target="#box1_modal-track"><div class="middle"><img src="../assets/mmc/images/button/battery.png"></div></a>
								<div class="below">
									<div class="number"></div>
									<div class="trend"></div>
								</div>

							</div>


							<div id="box2" class="box">
									
								<div class="up"></div>
								<div class="middle"><img src="../assets/mmc/images/button/tools.png"></div>
								<div class="below">
									<div class="number"></div>
									<div class="trend"></div>
								</div>

							</div>

							<div id="box3" class="box">

								<div class="up"></div>
								<a href="#" class="goto_sys-twmv-detail"><div class="middle"><img src="../assets/mmc/images/button/cable.png"></div></a>
								<div class="below">
									<div class="number"></div>
									<div class="trend"></div>
								</div>

							</div>

							
							
							
						</div>
					</div>


					<div id="plate_physical">
						<div id="pp_station">
							<span class="set1"></span>
						</div>
						<div id="pp_depot">
							<span class="set1"></span>
						</div>
					</div>
					<div id="plate_label">
						<div id="pl_depot">
							<span class="set1"><a href="#" onclick="location.href='/mpxd2/serdang-dpt/index'">aaaaaaaaaaaa</a></span>
							<span class="set2"><a href="#" onclick="location.href='/mpxd2/serdang-dpt/index'">aaaaaa</a></span>
						</div>
						<div id="pl_station" class="hidden">
							<span class="set1"><a href="#">Sg. Buloh</a></span>
							<span class="set2"><a href="#">D'sara Damai</a></span>
							<span class="set3"><a href="#">Sri D'sara West</a></span>
							<span class="set4"><a href="#">Sri D'sara East</a></span>
							<span class="set5"><a href="#">Kepong Sentral</a></span>
							<span class="set6"><a href="#">Metro Prima</a></span>
							<span class="set7"><a href="#">Kepong Baru</a></span>
							<span class="set8"><a href="#">Jinjang</a></span>
							<span class="set9"><a href="#">Sri Delima</a></span>
							<span class="set10"><a href="#">Kg. Batu</a></span>
							<span class="set11"><a href="#">Kentonmen</a></span>
							<span class="set12"><a href="#">Jln. Ipoh</a></span>
							<span class="set13"><a href="#">Sentul West</a></span>
							<span class="set14"><a href="#">Titiwangsa</a></span>
							<span class="set15"><a href="#">HKL</a></span>
							<span class="set16"><a href="#">Kg. Baru North</a></span>
							<span class="set17"><a href="#">Ampang Park</a></span>
							<span class="set18"><a href="#">KLCC East</a></span>
							<span class="set19"><a href="#">Conlay</a></span>
							<span class="set20"><a href="#">TRX</a></span>
							<span class="set21"><a href="#">Chan Sow Lin</a></span>
							<span class="set22"><a href="#">Bdr. Malaysia North</a></span>
							<span class="set23"><a href="#">Bdr. Malaysia South</a></span>
							<span class="set24"><a href="#">Kuchai Lama</a></span>
							<span class="set25"><a href="#">Tmn. Naga Emas</a></span>
							<span class="set26"><a href="#">Sg. Besi</a></span>
							<span class="set27"><a href="#">Tech. Park</a></span>
							<span class="set28"><a href="#">Serdang Raya North</a></span>
							<span class="set29"><a href="#">Serdang Raya South</a></span>
							<span class="set30"><a href="#">Sri Kembangan</a></span>
							<span class="set31"><a href="#">UPM</a></span>
							<span class="set32"><a href="#">Tmn. Universiti</a></span>
							<span class="set33"><a href="#">Equine Park</a></span>
							<span class="set34"><a href="#">Tmn. Putra Permai</a></span>
							<span class="set35"><a href="#">16 Sierra</a></span>
							<span class="set36"><a href="#">Cyberjaya North</a></span>
							<span class="set37"><a href="#">Cyberjaya City Centre</a></span>
							<span class="set38"><a href="#">Putrajaya Sentral</a></span>
						</div>
						<div id="pl_mspr">
							<span class="set1"><a href="#" onclick="location.href='/mpxd2/mspr1/index'">P</a></span>
							<span class="set2"><a href="#" onclick="location.href='/mpxd2/mspr4/index'">P</a></span>
							<span class="set3"><a href="#" onclick="location.href='/mpxd2/mspr6/index'">P</a></span>
							<span class="set4"><a href="#" onclick="location.href='/mpxd2/mspr8/index'">P</a></span>
							<span class="set5"><a href="#" onclick="location.href='/mpxd2/mspr9/index'">P</a></span>
							<span class="set6"><a href="#" onclick="location.href='/mpxd2/mspr11/index'">P</a></span>
						</div>
						<div id="pl_package" class="hidden">
							<span id="pl_package_V201" class="set1" onclick="location.href='/mpxd2/sys-twmv-kd8/index'" style="cursor:pointer">KD8</span>
							<span id="pl_package_V202" class="set2" onclick="location.href='/mpxd2/sys-twmv-kd9a/index'" style="cursor:pointer">KD9A</span>
							<span id="pl_package_V203" class="set3" onclick="location.href='/mpxd2/sys-twmv-kd9/index'" style="cursor:pointer">KD9</span>
							<span id="pl_package_UG" class="set4" onclick="location.href='/mpxd2/sys-twmv-kd10/index'" style="cursor:pointer">KD10</span>
							<span id="pl_package_V204" class="set5" onclick="location.href='/mpxd2/sys-twmv-kd11/index'" style="cursor:pointer">KD11</span>
							<span id="pl_package_V205" class="set6" onclick="location.href='/mpxd2/sys-twmv-kd11a/index'" style="cursor:pointer">KD11A</span>
							<span id="pl_package_V206" class="set7" onclick="location.href='/mpxd2/sys-twmv-kd12/index'" style="cursor:pointer">KD12</span>
							<span id="pl_package_V207" class="set8" onclick="location.href='/mpxd2/sys-twmv-kd13/index'" style="cursor:pointer">KD13</span>
							<span id="pl_package_V208" class="set9" onclick="location.href='/mpxd2/sys-twmv-kd14/index'" style="cursor:pointer">KD14</span>
							<span id="pl_package_V209" class="set10" onclick="location.href='/mpxd2/sys-twmv-kd15/index'" style="cursor:pointer">KD15</span>
							<span id="pl_package_V210" class="set11" onclick="location.href='/mpxd2/sys-twmv-kd16/index'" style="cursor:pointer">KD16</span>
						</div>
						
						<div id="pl_phase">
							<span class="set1"><a href="#" onclick="location.href='/mpxd2/north/index'">NORTH</a></span>
							<span class="set2"><a href="#" onclick="location.href='/mpxd2/south/index'">SOUTH</a></span>
						</div>
					</div>
				</div>

				<!-- -- -- -- -->

				<img src="../assets/mmc/images/base/mpxd1.jpg">
			</div>
			<div class="ig_plate">
				<!-- <img src="../assets/mmc/images/base/sys_twmv_gis.png"> -->
			</div>
		</div>

		<!-- -- -- -- -->

	</div>
</div>


<style type="text/css">
	
	.mpxd1_gis .gis_system_track{
	
		display:inline !important;
		fill:none !important;
		/*stroke-width:10 !important;*/
		stroke-linecap:butt!important;
		stroke-linejoin:miter!important;
		stroke-miterlimit:4!important;
		stroke-dasharray:none!important;
		stroke-opacity:1 !important
	}



	/*____________________________________________
	OVERRIDE
	--------------------------------------------*/
	#breadcrumbs_container,
	.title.breadcrumbs_title {
		display: none!important;
	}
	
	#dashboard {
		margin-top: -30px!important;
	}
	
	#plate_vector_map .v_station a,
	#pl_station span a,
	#pl_mspr span a,
	#pl_depot span a,
	#pl_phase span a{
		color: rgba(0,0,0,0)!important;
		text-shadow: none !important;
	}
	
	svg .override_plate {
		cursor: pointer;
	}
	
	
	/*____________________________________________
	map and plate
	--------------------------------------------*/
	
	.mpxd1_gis div#infographic {
		/*margin-top: 50px!important;*/
	}
	.mpxd1_gis div#infographic div.ig_plate {
		position: absolute;
	}
	.mpxd1_gis div#infographic div img{
		width: 100%;
		height: 100%;
	}

	.mpxd1_gis #dashboard {
		width: 99%;
		padding: 5px 0;
	}


	/*____________________________________________
	float - plate_gis and stats
	--------------------------------------------*/

	/*setup*/
	.mpxd1_gis #float_plate {
		/*position: absolute;*/
		width: 100%;
		height: 100%;
	}
	.mpxd1_gis #plate_vector_map,
	.mpxd1_gis #plate_overall_progress,
	.mpxd1_gis #plate_commercial,
	.mpxd1_gis #plate_legend,
	.mpxd1_gis #pl_depot,
	.mpxd1_gis #plate_label, 
	.mpxd1_gis #pl_phase,
	.mpxd1_gis #pl_station,
	.mpxd1_gis #pl_mspr,
	.mpxd1_gis #pl_package {
		position: absolute;
		width: 100%;
		height: 100%;
	}

	/*z index*/
	.mpxd1_gis #plate_vector_map {
		z-index: 3000;
	}
		.mpxd1_gis #plate_vector_map .v_station:hover {
			cursor: pointer;
		}
		.mpxd1_gis #plate_vector_map .v_depot:hover {
			cursor: pointer;
		}
		.portlet_psds_gis #plate_vector_map .v_station a,
		.portlet_psds_gis #pl_station span a,
		.mpxd1_gis #pl_mspr span a {
			color: #fff;
		}
		
	.mpxd1_gis #plate_overall_progress {
		z-index: 1000;
	}
	.mpxd1_gis #plate_commercial { 
		z-index: 1000;
	}
	.mpxd1_gis #plate_legend {
		z-index: 1000;
	}
	.mpxd1_gis #pl_depot > span {
		z-index: 3000;
	}
	.mpxd1_gis #pl_station > span {
		z-index: 3000;
	}
	.mpxd1_gis #pl_mspr > span {
		z-index: 3000;
	}
	.mpxd1_gis #pl_package > span {
		z-index: 3000;
	}
	.mpxd1_gis #pl_phase > div {
		z-index: 3000;
	}
	.mpxd1_gis #donut_plate {
		z-index: 3000;
	}

	.mpxd1_gis /*#button_group{
		z-index: 3001;
	}*/
	/*	plate_vector_map
	*/
	.mpxd1_gis #plate_vector_map {
		position: absolute;
	}


	/*	pop_label
	*/
	.mpxd1_gis #pop_label span {
		/*display: none;*/
		position: absolute;
		font-size: 1.1vw;
		color: #000;
	}
	.mpxd1_gis #pop_label span.set1 {
		top: 1.0%;
		left: 71.5%;
		color: #fff;
		font-size: 1.3vw;
	}
	.mpxd1_gis #pop_label span.set1 {top: 1.2%; left: 62.5%;}
	.mpxd1_gis #pop_label span.set2 {top: 6.2%; left: 63.0%;}
	.mpxd1_gis #pop_label span.set3 {top: 6.2%; left: 72.0%;}
	.mpxd1_gis #pop_label span.set4 {top: 6.2%; left: 81.5%;}
	.mpxd1_gis #pop_label span.set5 {top: 6.2%; left: 90.6%;}

	/*	pop_value
	*/
	.mpxd1_gis #pop_value span {
		/*display: none;*/
		position: absolute;
		font-size: 3.3vw;
		color: #fff;
		text-shadow:
		-1px -1px 0 rgba(0,0,0,1),  
		1px -1px 0 rgba(0,0,0,1),
		-1px 1px 0 rgba(0,0,0,1),
		1px 1px 0 rgba(0,0,0,1);
	}
	.mpxd1_gis #pop_value span.set1 {top: 11.0%; left: 61.9%;}
	.mpxd1_gis #pop_value span.set2 {top: 11.0%; left: 71.5%;}
	.mpxd1_gis #pop_value span.set3 {top: 11.0%; left: 81.0%;}
	.mpxd1_gis #pop_value span.set4 {top: 12.0%; left: 90.4%;}

	.mpxd1_gis #pop_value span.set4 i {
		font-size: 3.3vw;
		text-align: center;
		color: #0f5;
	}
	.mpxd1_gis #pop_value span.set4 {
		font-size: 1.1vw;
		text-align: center;
		color: #0f5;
	}

	/*	pcom_label
	*/
	.mpxd1_gis #pcom_label span {
		/*display: none;*/
		position: absolute;
		font-size: .9vw;
		color: #fff;
		width: 10%;
		background: none;
		text-align: center;
	}
	.mpxd1_gis #pcom_label span.set1 {
		top: 1.0%;
		left: 71.5%;
		color: #fff;
		width: 20%;
		background: none;
		text-align: left;
		font-size: 1.3vw;
	}

	.mpxd1_gis #pcom_label span.set2, #pcom_label span.set3,
	.mpxd1_gis #pcom_label span.set4, #pcom_label span.set5,
	.mpxd1_gis #pcom_label span.set6, #pcom_label span.set7,
	.mpxd1_gis #pcom_label span.set8 {
		background: #205;
		padding: 0 0 10px;
		border-bottom: 2px solid #335;
	}

	.mpxd1_gis #pcom_label span.set1 {top: 60.0%; left: 32.0%;}
	.mpxd1_gis #pcom_label span.set2 {top: 72.0%; left: 20.9%;}
	.mpxd1_gis #pcom_label span.set3 {top: 72.0%; left: 32%;}
	.mpxd1_gis #pcom_label span.set4 {top: 72.0%; left: 43.3%;}
	.mpxd1_gis #pcom_label span.set5 {top: 85.5%; left: 15.5%;}
	.mpxd1_gis #pcom_label span.set6 {top: 85.5%; left: 26.2%;}
	.mpxd1_gis #pcom_label span.set7 {top: 85.5%; left: 37.4%;}
	.mpxd1_gis #pcom_label span.set8 {top: 85.5%; left: 48.6%;}

	/*	pcom_value
	*/
	.mpxd1_gis #pcom_value span {
		/*display: none;*/
		position: absolute;
		margin-left: 2px;
		font-size: 1.7vw;
		border-top: 2px solid #335;
		color: #ff0;
		width: 10%;
		background: #205;
		text-align: center;
		text-shadow:
		-1px -1px 0 rgba(0,0,0,1),  
		1px -1px 0 rgba(0,0,0,1),
		-1px 1px 0 rgba(0,0,0,1),
		1px 1px 0 rgba(0,0,0,1);
	}
	.mpxd1_gis #pcom_value span.set1 {top: 67.0%; left: 20.8%;}
	.mpxd1_gis #pcom_value span.set2 {top: 67.0%; left: 32%;}
	.mpxd1_gis #pcom_value span.set3 {top: 67.0%; left: 43.2%;}
	.mpxd1_gis #pcom_value span.set4 {top: 80.2%; left: 15.4%;}
	.mpxd1_gis #pcom_value span.set5 {top: 80.2%; left: 26.2%;}
	.mpxd1_gis #pcom_value span.set6 {top: 80.2%; left: 37.4%;}
	.mpxd1_gis #pcom_value span.set7 {top: 80.2%; left: 48.6%;}


	/*	pl_label_header
	*/
	.mpxd1_gis #pl_label_header span {
		/*display: none;*/
		position: absolute;
		font-size: 1.1vw;
		color: #fff;
	}
	.mpxd1_gis #pl_label_header span.set1 {top: 64%; left: 36%;}

	/*	pl_label_content
	*/
	.mpxd1_gis #pl_label_content span {
		/*display: none;*/
		position: absolute;
		font-size: .9vw;
		color: #fff;
	}
	.mpxd1_gis #pl_label_content span.set1 {top: 80.5%; left: 23.5%;}
	.mpxd1_gis #pl_label_content span.set2 {top: 77%; left: 23.5%;}
	.mpxd1_gis #pl_label_content span.set3 {top: 73.5%; left: 23.5%;}
	.mpxd1_gis #pl_label_content span.set4 {top: 69.5%; left: 23.5%;}

	.mpxd1_gis #pl_label_content span.set5 {top: 69.5%; left: 34.5%;}
	.mpxd1_gis #pl_label_content span.set6 {top: 73.5%; left: 34.5%;}
	.mpxd1_gis #pl_label_content span.set7 {top: 77.5%; left: 34.5%;}
	.mpxd1_gis #pl_label_content span.set8 {top: 81%; left: 34.5%;}
	.mpxd1_gis #pl_label_content span.set9 {top: 84.5%; left: 34.5%;}

	.mpxd1_gis #pl_label_content span.set10 {top: 69.5%; left: 47.5%;}
	.mpxd1_gis #pl_label_content span.set11 {top: 76.5%; left: 47.5%;}
	.mpxd1_gis #pl_label_content span.set12 {top: 83%; left: 47.5%;}
	/*plate_issue*/
	/*	pi_title
	*/
	.mpxd1_gis #pi_title span {
		/*display: none;*/
		position: absolute;
		font-size: 1.3vw;
		color: #fff;
		text-shadow:
		-1px -1px 0 rgba(255,0,70,.25),  
		1px -1px 0 rgba(255,0,70,.25),
		-1px 1px 0 rgba(255,0,70,.25),
		1px 1px 0 rgba(255,0,70,.25);
	}
	.mpxd1_gis #pi_title span.set1 {top: 6.7%; left: 2.2%;}
	.mpxd1_gis #pi_title span.set2 {top: 6.0%; left: 3.8%;}


	/*	pi_subtitle
	*/
	.mpxd1_gis #pi_subtitle span {
		/*display: none;*/
		position: absolute;
		font-size: .8vw;
		color: #fff;
		text-shadow:
		-1px -1px 0 rgba(255,0,70,.25),  
		1px -1px 0 rgba(255,0,70,.25),
		-1px 1px 0 rgba(255,0,70,.25),
		1px 1px 0 rgba(255,0,70,.25);
	}
	.mpxd1_gis #pi_subtitle span.set1 {top: 9.0%; left: 3.8%;}


	/*	pl_phase
	*/
	.mpxd1_gis #pl_phase span {
		/*display: none;*/
		position: absolute;
		font-size: 1.5em;
		/*color: rgba(255,255,255,.5);*/
		color: rgba(0,0,0,0)!important;
	}
	.mpxd1_gis #pl_phase span.set1 {top: 52%; left: 16%;}
	.mpxd1_gis #pl_phase span.set2 {top: 43%; left: 88%;}

	/*	pl_package
	*/
	.mpxd1_gis #pl_package span {
		/*display: none;*/
		position: absolute;
		font-size: 1.3em;
		font-weight: bold;
		padding: 2px 5px;
		border-radius: 3px;
		/*background: rgba(0,0,0,.25);*/
		/*border:1px solid rgba(0,0,0,.35);*/
		color: #fff;
	}
	.mpxd1_gis #pl_package span.set1 {top: 67.5%; left: 13.0%;}
	.mpxd1_gis #pl_package span.set2 {top: 52.0%; left: 15.8%;}
	.mpxd1_gis #pl_package span.set3 {top: 42.5%; left: 20.0%;}
	.mpxd1_gis #pl_package span.set4 {top: 28.0%; left: 31.5%;}
	.mpxd1_gis #pl_package span.set5 {top: 48.6%; left: 43.5%;}
	.mpxd1_gis #pl_package span.set6 {top: 48.6%; left: 52.5%;}
	.mpxd1_gis #pl_package span.set7 {top: 51.0%; left: 59.5%;}
	.mpxd1_gis #pl_package span.set8 {top: 60.2%; left: 58.2%;}
	.mpxd1_gis #pl_package span.set9 {top: 67.5%; left: 58.2%;}
	.mpxd1_gis #pl_package span.set10 {top: 92.8%; left: 71.5%;}
	.mpxd1_gis #pl_package span.set11 {top: 92.8%; left: 84.0%;}


	/*	pl_mspr
	*/
	.mpxd1_gis #pl_mspr span {
		/*display: none;*/
		position: absolute;
		font-size: .7em;
		font-weight: bolder;
		border-radius: 3px;
		border: 2px solid rgba(0,0,0,0);
		padding: 3px 5px;
		background: rgba(0,0,0,0);
		color: rgba(0,0,0,0);
	}
	.mpxd1_gis #pl_mspr span.set1 {top: 58.0%; left: 3.4%;} /*MSPR 1*/
	.mpxd1_gis #pl_mspr span.set2 {top: 69.3%; left: 33.7%;} /*MSPR 4*/
	.mpxd1_gis #pl_mspr span.set3 {top: 42.9%; left: 57.3%;} /*MSPR 6*/
	.mpxd1_gis #pl_mspr span.set4 {top: 43.2%; left: 70.5%;} /*MSPR 8*/
	.mpxd1_gis #pl_mspr span.set5 {top: 73.0%; left: 94.5%;} /*MSPR 9*/
	.mpxd1_gis #pl_mspr span.set6 {top: 66.1%; left: 87.4%;} /*MSPR 11*/

	/*	pl_station
	*/
	.mpxd1_gis #pl_station span {
		/*display: none;*/
		position: absolute;
		font-size: 1em;
		color: #eef;
		text-shadow:
		-1px -1px 0 rgba(0,0,255,.3),  
		1px -1px 0 rgba(0,0,255,.3),
		-1px 1px 0 rgba(0,0,255,.3),
		1px 1px 0 rgba(0,0,255,.3);
	}
	.mpxd1_gis #pl_station span.set1 {top: 78.6%; left: 6.0%;}
	.mpxd1_gis #pl_station span.set2 {top: 74.3%; left: 8.2%;}
	.mpxd1_gis #pl_station span.set3 {top: 63.1%; left: 10.2%;}
	.mpxd1_gis #pl_station span.set4 {top: 58.5%; left: 11.0%;}
	.mpxd1_gis #pl_station span.set5 {top: 48.5%; left: 9.0%;}
	.mpxd1_gis #pl_station span.set6 {top: 42.5%; left: 8.7%;}
	.mpxd1_gis #pl_station span.set7 {top: 36.5%; right: 91.1%;}
	.mpxd1_gis #pl_station span.set8 {top: 32.1%; right: 89.9%;}
	.mpxd1_gis #pl_station span.set9 {top: 30.8%; left: 12.5%;}
	.mpxd1_gis #pl_station span.set10 {top: 24.2%; right: 87.7%;}
	.mpxd1_gis #pl_station span.set11 {top: 18.5%; right: 82.0%;}
	.mpxd1_gis #pl_station span.set12 {top: 27.6%; left: 17.9%;}
	.mpxd1_gis #pl_station span.set13 {top: 23.8%; left: 22.2%;}
	.mpxd1_gis #pl_station span.set14 {top: 18.3%; left: 24.2%;}
	.mpxd1_gis #pl_station span.set15 {top: 13.0%; right: 76.1%;}
	.mpxd1_gis #pl_station span.set16 {top: 8.7%; right: 73.8%;}
	.mpxd1_gis #pl_station span.set17 {top: 2.0%; right: 70.9%;}
	.mpxd1_gis #pl_station span.set18 {top: 0.0%; left: 29.7%;}
	.mpxd1_gis #pl_station span.set19 {top: 3.0%; left: 31.7%;}
	.mpxd1_gis #pl_station span.set20 {top: 6.0%; left: 33.5%;}
	.mpxd1_gis #pl_station span.set21 {top: 13.0%; left: 38.0%;}
	.mpxd1_gis #pl_station span.set22 {top: 22.5%; left: 39.7%;}
	.mpxd1_gis #pl_station span.set23 {top: 27.6%; left: 41.3%;}
	.mpxd1_gis #pl_station span.set24 {top: 36.9%; right: 55.2%;}
	.mpxd1_gis #pl_station span.set25 {top: 40.2%; right: 50.6%;}
	.mpxd1_gis #pl_station span.set26 {top: 28.7%; left: 53.3%;}
	.mpxd1_gis #pl_station span.set27 {top: 31.4%; left: 55.5%;}
	.mpxd1_gis #pl_station span.set28 {top: 43.8%; right: 40.6%;}
	.mpxd1_gis #pl_station span.set29 {top: 35.0%; left: 62.5%;}
	.mpxd1_gis #pl_station span.set30 {top: 38.2%; left: 64.5%;}
	.mpxd1_gis #pl_station span.set31 {top: 47.3%; left: 68.5%;}
	.mpxd1_gis #pl_station span.set32 {top: 57.0%; right: 32.0%;}
	.mpxd1_gis #pl_station span.set33 {top: 71.5%; right: 30.4%;}
	.mpxd1_gis #pl_station span.set34 {top: 78.0%; right: 30.4%;}
	.mpxd1_gis #pl_station span.set35 {top: 86.3%; right: 26.2%;}
	.mpxd1_gis #pl_station span.set36 {top: 80.2%; right: 18.2%;}
	.mpxd1_gis #pl_station span.set37 {top: 89.8%; left: 82.0%;}
	.mpxd1_gis #pl_station span.set38 {top: 82.0%; left: 85.5%;}

	/*	pl_depot
	*/
	
	.mpxd1_gis #pl_depot span {
		/*display: none;*/
		position: absolute;
		font-size: 1em;
		color: rgba(0,0,0,0)!important;
	}
	.mpxd1_gis #pl_depot span.set1 {top: 72.5%; left: 1.5%;}
	.mpxd1_gis #pl_depot span.set2 {top: 69.0%; left: 88.8%;}





	/*____________________________________________
	track path
	--------------------------------------------*/



	/*track*/
	.mpxd1_gis .v_track {
		display: inline;
		fill-opacity:1;
		stroke-width:1;
		stroke-miterlimit:4;
		stroke-dasharray:none;
		stroke-opacity:1;
	}

	/*station*/
	.mpxd1_gis .v_station {
		opacity:1;
		fill-opacity:1;
		stroke-width:2.5;
		stroke-miterlimit:4;
		stroke-dasharray:none;
		stroke-opacity:1;
	}

	/*station*/
	.mpxd1_gis .v_depot {
		opacity:1;
		fill-opacity:1;
		stroke-width:2.5;
		stroke-miterlimit:4;
		stroke-dasharray:none;
		stroke-opacity:1;
	}



	
	.mpxd1_gis #plate_system {
		position: absolute;
		width: 100%;
		height: 100%;
		
	}

	.mpxd1_gis #donut_plate {
		position: absolute;
		top: 40%;
		left: 70%;
		/*width: 485px;*/
		/*background: rgba(220,220,255,.3);*/
		/*height: 400px;*/
	}

	.mpxd1_gis circle.svg_donut_system_circle {
		fill: none;
		stroke-width: 10;
		stroke-dasharray: 0 150;
	}
	.mpxd1_gis svg.svg_donut_system {
		margin: 0 auto;
		background: none;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		border-radius: 50%;
		display: block;
	}

	.mpxd1_gis div#donut_plate > div.dp_bottom {
		display: inline-block;
		margin: 0 5px;
		width: 55px;
		height: 90px;
	}
		
	.mpxd1_gis .donut_title1_name {
		margin: 0 30px 3px 30px;
		display: block;
		text-align: center;
		font-size: 1.8em;
	}

	.mpxd1_gis div#button_group{
		position: absolute; 
		width: 100%;
		height: 100%;
	}

	.mpxd1_gis div#button_group div.menu{
		position: absolute;
		top: 2%;
		right: 0%;
	}

	.mpxd1_gis div#button_group div.menu img{
		width: 100px;
	}

	.mpxd1_gis div#button_group div.menu div.box  {
		display: inline-block;
		background-color:rgba(255,255,255,.4);
		opacity: 1;
		width: 110px;
		height: 110px;



		text-align: center;
		font-size: 24px;
		font color: red;

	}

	.mpxd1_gis div#button_group div.menu div.box div.up{
		background-color: #0E92CB;
		color: black;
		font-size: 0.65em;
		text-align: left;
		padding: 3px 5px;
	}

	.mpxd1_gis div#button_group div.menu div.box div.below {
		background-color: #0E92CB
	}

	.mpxd1_gis div#button_group div.menu div.box div.below div{
		display: inline-block;
	}

	.mpxd1_gis div#button_group div.menu div.box div.middle img{
		height: 70px;
		width: 70px;

	}

	.mpxd1_gis div#button_group div.menu div.box div.below i{
		color: #0f0;
	}

	.mpxd1_gis div#button_group div.menu div.box div.below i#right{
		color: red;
	}



	.mpxd1_gis div#button_group div.menu{
		z-index: 3001;	
	}


	/*table box*/
	.mpxd1_gis div.modal_table div.modal-content{
		background-color: #333;

	}

	.mpxd1_gis div.modal_table div.modal-content div.modal-body th{
		background-color: rgba(0,255,255,.35);
	}

	.mpxd1_gis div.modal_table th{
		text-align: center;
		
	}
	.mpxd1_gis div.modal_table {
		text-align: center;	
	}


	.mpxd1_gis #box1_modal-installation div.modal-body tbody{
		text-align: left;
	}

	.mpxd1_gis #box1_modal-installation div.modal-body th{
		text-align: left;
	}





</style>

<!-- ........................................................................................................................................... -->



<script type="text/javascript">
	


$(document).ready(function(){

	var json = [ 
		{"boxid":"box1","b_name":"Design","arrow":"up","percentage":"100%"},
		{"boxid":"box2","b_name":"Procurement","arrow":"up","percentage":"100%"},
		{"boxid":"box3","b_name":"Installation","arrow":"down","percentage":"120%"}
	 
	];
	for (i = 0; i < json.length; i++) {
		var b = json[i];
		use_boxid= b.boxid;
		use_b_name=b.b_name;
		use_arrow=b.arrow;
		use_percentage=b.percentage;

		if(use_arrow=="up") {
			apply_arrow='<i style="color:#0f3" class="fa fa-arrow-up" aria-hidden="true"></i>'
		} else if(use_arrow=="down") {
			apply_arrow='<i style="color:#f03" class="fa fa-arrow-down" aria-hidden="true"></i>'
		} else if (use_arrow=="right"){
			apply_arrow='<i style="color:#333" class="fa fa-arrow-right" aria-hidden="true"></i>'
		}

		$('#'+use_boxid+' .up' ).text(use_b_name);
		$('#'+use_boxid+' .number' ).text(use_percentage);
		$('#'+use_boxid+' .trend' ).html(apply_arrow);
		

	}

	// below this


	var json = [ 
		{"activities":"Preliminary","percentage":"100%"},
		{"activities":"Conceptual","percentage":"100%"},
		{"activities":"Final Design","percentage":"100%"}
		

	
	];
	for (i = 0; i < json.length; i++) {
		var b = json[i];
		use_activities= b.activities;
		use_percentage=b.percentage;
	
		


		$('#box1_modal-track table tbody' ).append('<tr><td>'+use_activities+'</td><td>'+use_percentage);

		

	}
			
	//end fahmy 



		// 
	// directory
	// 
	
	
	
	///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	$('#plate_vector_map').load('../assets/mmc/svg/mpxd1_gis.svg',function(){
		
		// NAVIGATION
		
		$('#layer8').click(function(){
			// load = "mpxd2/sg-buloh/index";
		});
		
		// vector_track
		var json = [ 
			{"vector_track":"temp_override","vector_status":"0","url":"3"},
			{"vector_track":"legend_v_track_1","vector_status":"0","url":""},
			{"vector_track":"legend_v_track_2","vector_status":"1","url":""},
			{"vector_track":"legend_v_track_3","vector_status":"2","url":""},
			{"vector_track":"legend_v_track_4","vector_status":"3","url":""},
			{"vector_track":"psds_track_01","vector_status":"1","url":""},
			{"vector_track":"psds_track_02","vector_status":"1","url":""},
			{"vector_track":"psds_track_03","vector_status":"1","url":""},
			{"vector_track":"psds_track_04","vector_status":"1","url":""},
			{"vector_track":"psds_track_05","vector_status":"2","url":""},
			{"vector_track":"psds_track_06","vector_status":"2","url":""},
			{"vector_track":"psds_track_07","vector_status":"2","url":""},
			{"vector_track":"psds_track_08","vector_status":"3","url":""},
			{"vector_track":"psds_track_09","vector_status":"3","url":""},
			{"vector_track":"psds_track_10","vector_status":"3","url":""},
			{"vector_track":"psds_track_11","vector_status":"3","url":""},
			{"vector_track":"psds_track_12","vector_status":"3","url":""},
			{"vector_track":"psds_track_13","vector_status":"2","url":""},
			{"vector_track":"psds_track_14","vector_status":"1","url":""},
			{"vector_track":"psds_track_15","vector_status":"1","url":""},
			{"vector_track":"psds_track_16","vector_status":"1","url":""},
			{"vector_track":"psds_track_17","vector_status":"1","url":""},
			{"vector_track":"psds_track_18","vector_status":"1","url":""},
			{"vector_track":"psds_track_19","vector_status":"1","url":""},
			{"vector_track":"psds_track_20","vector_status":"1","url":""},
			{"vector_track":"psds_track_21","vector_status":"1","url":""},
			{"vector_track":"psds_track_22","vector_status":"1","url":""},
			{"vector_track":"psds_track_23","vector_status":"1","url":""},
			{"vector_track":"psds_track_24","vector_status":"0","url":""},
			{"vector_track":"psds_track_25","vector_status":"0","url":""},
			{"vector_track":"psds_track_26","vector_status":"0","url":""},
			{"vector_track":"psds_track_27","vector_status":"0","url":""},
			{"vector_track":"psds_track_28","vector_status":"0","url":""},
			{"vector_track":"psds_track_29","vector_status":"0","url":""},
			{"vector_track":"psds_track_30","vector_status":"0","url":""},
			{"vector_track":"psds_track_31","vector_status":"0","url":""},
			{"vector_track":"psds_track_32","vector_status":"0","url":""},
			{"vector_track":"psds_track_33","vector_status":"0","url":""},
			{"vector_track":"psds_track_34","vector_status":"0","url":""},
			{"vector_track":"psds_track_35","vector_status":"0","url":""},
			{"vector_track":"psds_track_36","vector_status":"0","url":""},
			{"vector_track":"psds_track_37","vector_status":"0","url":""},
			{"vector_track":"psds_track_38","vector_status":"0","url":""},
			{"vector_track":"psds_track_38","vector_status":"2","url":""},
			{"vector_track":"psds_track_39","vector_status":"2","url":""}

			
		];
		for (i = 0; i < json.length; i++) {
			var b = json[i];
			vector_track_name = b.vector_track;
			vector_track_status = b.vector_status;
			vector_track_url = b.url;
			if (vector_track_status==0) {/*blank*/
				$('#'+vector_track_name).css({'stroke':'#9FA09F'});
			} else if (vector_track_status==1) {/*on schedule*/
				$('#'+vector_track_name).css({'stroke':'#00ff55'});
			} else if (vector_track_status==2) {/*behind late*/
				$('#'+vector_track_name).css({'stroke':'#ff0055'});
			} else if (vector_track_status==3) {/*critical*/
				blink('.'+vector_track_name, -1, 500);
				function blink(elem, times, speed) {
					if (times > 0 || times < 0) {
						if ($(elem).fadeTo( 500, 0.33 )) 
							$(elem).fadeTo( 500, 1);
						else
							$(elem).fadeTo( 500, 0.33 );
					}
					clearTimeout(function () {
						blink(elem, times, speed);
					});
					
					if (times > 0 || times < 0) {
						setTimeout(function () {
							blink(elem, times, speed);
						}, speed);
						times -= .5;
					}
				}
				$('#'+vector_track_name).toggle('pulsate').css({'stroke-width':'20','fill':'#ff0055','stroke':'#ff0055'});
			};
		}
		
		var json = [ 
			{"vector_station":"legend_v_station_1","vector_status":"0"},
			{"vector_station":"legend_v_station_2","vector_status":"4"},
			{"vector_station":"legend_v_station_3","vector_status":"2"},
			{"vector_station":"legend_v_station_4","vector_status":"3"},
			
			{"vector_station":"v_station_1","vector_status":"3"},
			{"vector_station":"v_station_2","vector_status":"2"},
			{"vector_station":"v_station_3","vector_status":"3"},
			{"vector_station":"v_station_4","vector_status":"0"},
			{"vector_station":"v_station_5","vector_status":"1"},
			{"vector_station":"v_station_6","vector_status":"1"},
			{"vector_station":"v_station_7","vector_status":"1"},
			{"vector_station":"v_station_8","vector_status":"1"},
			{"vector_station":"v_station_9","vector_status":"1"},
			{"vector_station":"v_station_10","vector_status":"2"},
			{"vector_station":"v_station_11","vector_status":"3"},
			{"vector_station":"v_station_12","vector_status":"0"},
			{"vector_station":"v_station_13","vector_status":"1"},
			{"vector_station":"v_station_14","vector_status":"2"},
			{"vector_station":"v_station_15","vector_status":"3"},
			{"vector_station":"v_station_16","vector_status":"0"},
			{"vector_station":"v_station_17","vector_status":"1"},
			{"vector_station":"v_station_18","vector_status":"2"},
			{"vector_station":"v_station_19","vector_status":"3"},
			{"vector_station":"v_station_20","vector_status":"0"},
			{"vector_station":"v_station_21","vector_status":"1"},
			{"vector_station":"v_station_22","vector_status":"1"},
			{"vector_station":"v_station_23","vector_status":"1"},
			{"vector_station":"v_station_24","vector_status":"1"},
			{"vector_station":"v_station_25","vector_status":"1"},
			{"vector_station":"v_station_26","vector_status":"1"},
			{"vector_station":"v_station_27","vector_status":"1"},
			{"vector_station":"v_station_28","vector_status":"1"},
			{"vector_station":"v_station_29","vector_status":"1"},
			{"vector_station":"v_station_30","vector_status":"1"},
			{"vector_station":"v_station_31","vector_status":"2"},
			{"vector_station":"v_station_32","vector_status":"3"},
			{"vector_station":"v_station_33","vector_status":"0"},
			{"vector_station":"v_station_34","vector_status":"0"},
			{"vector_station":"v_station_35","vector_status":"1"},
			{"vector_station":"v_station_36","vector_status":"2"},
			{"vector_station":"v_station_37","vector_status":"3"},
			{"vector_station":"v_station_38","vector_status":"1"},

			{"vector_station":"v_station_99","vector_status":"0"},
			{"vector_station":"v_station_98","vector_status":"1"},
			{"vector_station":"v_station_97","vector_status":"2"},
			{"vector_station":"v_station_96","vector_status":"3"},
			{"vector_station":"v_station_95","vector_status":"4"}


		];
		for (i = 0; i < json.length; i++) {
			var b = json[i];
			vector_station_name = b.vector_station;
			vector_station_status = b.vector_status;
			if (vector_station_status==0) {/*blank*/
				$('#'+vector_station_name).css({'fill':'#ffffff','stroke':'#222222'});
			} else if (vector_station_status==1) {/*on schedule*/
				$('#'+vector_station_name).css({'fill':'#ffffff','stroke':'#f50'});
			} else if (vector_station_status==2) {/*behind late*/
				$('#'+vector_station_name).css({'fill':'#ffffff','stroke':'#f05'});
			} else if (vector_station_status==3) {/*behind late*/
				blink('#'+vector_station_name, -1, 500);
				function blink(elem, times, speed) {
					if (times > 0 || times < 0) {
						if ($(elem).fadeTo( 500, 0.33 )) 
							$(elem).fadeTo( 500, 1);
						else
							$(elem).fadeTo( 500, 0.33 );
					}
					clearTimeout(function () {
						blink(elem, times, speed);
					});

					if (times > 0 || times < 0) {
						setTimeout(function () {
							blink(elem, times, speed);
						}, speed);
						times -= .5;
					}
				}	
				$('#'+vector_station_name).toggle('pulsate').css({'fill':'#ffffff','stroke':'#ff0055'});

			} else if (vector_station_status==4) {/*critical*/
				$('#'+vector_station_name).css({'fill':'#ffffff','stroke':'#0f5'});
				
			};
		}
		
		var json = [ 
			{"vector_depot":"legend_v_depot_1","vector_status":"0"},
			{"vector_depot":"legend_v_depot_2","vector_status":"1"},
			{"vector_depot":"legend_v_depot_3","vector_status":"2"},
			{"vector_depot":"legend_v_depot_4","vector_status":"3"},
			{"vector_depot":"v_depot_1","vector_status":"1"}
		];
		for (i = 0; i < json.length; i++) {
			var b = json[i];
			vector_depot_name = b.vector_depot;
			vector_depot_status = b.vector_status;
			if (vector_depot_status==0) {/*blank*/
				$('#'+vector_depot_name).css({'fill':'#ffffff','stroke':'#222222'});
			} else if (vector_depot_status==1) {/*on schedule*/
				$('#'+vector_depot_name).css({'fill':'#ffffff','stroke':'#00ff55'});
			} else if (vector_depot_status==2) {/*behind late*/
				$('#'+vector_depot_name).css({'fill':'#ffffff','stroke':'#ff0055'});
			} else if (vector_depot_status==3) {/*critical*/
				blink('#'+vector_depot_name, -1, 500);
				function blink(elem, times, speed) {
					if (times > 0 || times < 0) {
						if ($(elem).fadeTo( 500, 0.33 )) 
							$(elem).fadeTo( 500, 1);
						else
							$(elem).fadeTo( 500, 0.33 );
					}
					clearTimeout(function () {
						blink(elem, times, speed);
					});

					if (times > 0 || times < 0) {
						setTimeout(function () {
							blink(elem, times, speed);
						}, speed);
						times -= .5;
					}
				}
				$('#'+vector_depot_name).toggle('pulsate').css({'fill':'#ffffff','stroke':'#ff0055'});
			};
		}


	});	
	
	var json = [ 
		{"chart_title":"Overall Progress <br> <span style='font-size:16px;'>(As of 1 MAY 2017)</span>","chart_name":"","chart_id":"db_donut_0","chart_value":"88","set_donut":"1","url":"#"},
		
	];
	
	for (i = 0; i < json.length; i++) {
		var b = json[i];
		use_chart_title = b.chart_title;
		use_chart_id = b.chart_id;
		use_chart_value = b.chart_value;
		use_chart_set_donut = b.set_donut;
		use_chart_name = b.chart_name;
		use_chart_url= b.url;
		
		
		
		// if (use_chart_set_donut==1) {

			
			use_chart_font_size = '25px';
			use_chart_font_color = '#ffffff';
			if (use_chart_value >= 75) {
				use_chart_donut_color = '#00ff55';
			} else if (use_chart_value >= 50) {
				use_chart_donut_color = '#ffff00';
			} else if (use_chart_value >= 25) {
				use_chart_donut_color = '#ff7700';
			} else if (use_chart_value < 25) {
				use_chart_donut_color = '#ff0055';
			};
			use_chart_circle_border = 'border:1px solid '+use_chart_donut_color+';'
			use_chart_svg_width = 165;
			use_chart_svg_height = 165;
			use_chart_circle_r = 80;
			use_chart_circle_cx = 81.5;
			use_chart_circle_cy = 81.5;
			use_chart_circle_data_total = 503;
			use_chart_circle_data_used = use_chart_value / 100 * use_chart_circle_data_total;

			
			donut_body = '<div><a class="url_donut_system" style="text-decoration: none; color: #fff;" href="'+use_chart_url+'" title="'+use_chart_name+'"><span class="donut_title1_name">'+use_chart_title+'</span></a><svg class="svg_donut_system" width="'+use_chart_svg_width+'" height="'+use_chart_svg_height+'" style="border:1px solid '+use_chart_donut_color+';"><text style="font-style:normal;font-weight:bold;font-size:'+use_chart_font_size+';fill:'+use_chart_font_color+';" transform="matrix(0,1,-1,0,0,0)"><tspan sodipodi:role="line" x="50" y="-65">'+use_chart_value+'%</tspan></text><circle class="svg_donut_system_circle" r="'+use_chart_circle_r+'" cx="'+use_chart_circle_cx+'" cy="'+use_chart_circle_cy+'" class="pie" style="stroke: '+use_chart_donut_color+';stroke-dasharray: '+use_chart_circle_data_used+','+use_chart_circle_data_total+';"></circle></svg></div>';
			
				
			$('.dp_top').append(donut_body);
		
	}
	
	// current date
	var fullDate = new Date()
	var month = new Array();
	month[0] = "JAN";
	month[1] = "FEB";
	month[2] = "MAR";
	month[3] = "APR";
	month[4] = "MAY";
	month[5] = "JUN";
	month[6] = "JUL";
	month[7] = "AUG";
	month[8] = "SEP";
	month[9] = "OCT";
	month[10] = "NOV";
	month[11] = "DEC";
	var n = month[fullDate.getMonth()];
	var currentDate = fullDate.getDate() + " " + n + " " + fullDate.getFullYear();
	$('#current_date').text(currentDate);
	
	
	
	//
	// portlet - links
	//
	
	$('.goto_sys-twmv-detail').click(function(){
		window.location.href = "detail";
	})
	
	
	// 
	// portlet - main menu date
	// 
	
	
	$('#header_menu button.goto_home').click(function(){
		window.location.href = "index.php";
	});
	$('#header_menu button.goto_scurve').click(function(){
		window.location.href = "scurve.php";
	});
	$('#header_menu button.goto_procurement').click(function(){
		window.location.href = "procurement.php";
	});
	$('#header_menu button.goto_generate_report').click(function(){
		window.location.href = "generate_report.php";
	});
	
	
	
	
	// 
	// portlet - portlet_tunnel_progress
	// 
	
	$('div.portlet_tunnel_progress ul li.show_Rings').click(function(){
		$('div.portlet_tunnel_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_tunnel_progress table').addClass('hidden');
		$('div.portlet_tunnel_progress table.show_Rings').removeClass('hidden');
	});
	$('div.portlet_tunnel_progress ul li.show_Trackbed').click(function(){
		$('div.portlet_tunnel_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_tunnel_progress table').addClass('hidden');
		$('div.portlet_tunnel_progress table.show_Trackbed').removeClass('hidden');
	});
	$('div.portlet_tunnel_progress ul li.show_Bracket').click(function(){
		$('div.portlet_tunnel_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_tunnel_progress table').addClass('hidden');
		$('div.portlet_tunnel_progress table.show_Bracket').removeClass('hidden');
	});
	$('div.portlet_tunnel_progress ul li.show_ES1').click(function(){
		$('div.portlet_tunnel_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_tunnel_progress table').addClass('hidden');
		$('div.portlet_tunnel_progress table.show_ES1').removeClass('hidden');
	});
	$('div.portlet_tunnel_progress ul li.show_ES3').click(function(){
		$('div.portlet_tunnel_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_tunnel_progress table').addClass('hidden');
		$('div.portlet_tunnel_progress table.show_ES3').removeClass('hidden');
	});
	$('div.portlet_tunnel_progress ul li.show_IVS1').click(function(){
		$('div.portlet_tunnel_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_tunnel_progress table').addClass('hidden');
		$('div.portlet_tunnel_progress table.show_IVS1').removeClass('hidden');
	});
	$('div.portlet_tunnel_progress ul li.show_IVS2').click(function(){
		$('div.portlet_tunnel_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_tunnel_progress table').addClass('hidden');
		$('div.portlet_tunnel_progress table.show_IVS2').removeClass('hidden');
	});
	
	
	// 
	// portlet - portlet_work_progress
	// 
	
	
	/*menu*/
	$('div.portlet_work_progress ul li.show_Station_Box').click(function(){
		$('div.portlet_work_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_work_progress div.show').addClass('hidden');
		$('div.portlet_work_progress div.show.show_Station_Box').removeClass('hidden');
	});
	
	$('div.portlet_work_progress ul li.show_Entrance').click(function(){
		$('div.portlet_work_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_work_progress div.show').addClass('hidden');
		$('div.portlet_work_progress div.show.show_Entrance').removeClass('hidden');
	});
	
	$('div.portlet_work_progress ul li.show_Vent_Shaft').click(function(){
		$('div.portlet_work_progress ul li').removeClass('active');$(this).addClass('active');
		$('div.portlet_work_progress div.show').addClass('hidden');
		$('div.portlet_work_progress div.show.show_Vent_Shaft').removeClass('hidden');
	});
	
	$('.portlet_work_progress i.fa-plus-square',this).click(function(){
		console.log(this);
		$(this).parent().find('i.fa-plus-square').addClass('hidden');
		$(this).parent().find('i.fa-minus-square').removeClass('hidden');
		$(this).parent().parent().parent().parent().parent().find('table').removeClass('hidden');
	});
	$('.portlet_work_progress i.fa-minus-square',this).click(function(){
		console.log(this);
		$(this).parent().find('i.fa-minus-square').addClass('hidden');
		$(this).parent().find('i.fa-plus-square').removeClass('hidden');
		$(this).parent().parent().parent().parent().parent().find('table').addClass('hidden');
	});
	
	
	// 
	// portlet - portlet_generate_report
	// 
	$('.portlet_generate_report i.fa-plus-square',this).click(function(){
		$(this).parent().find('i.fa-plus-square').addClass('hidden');
		$(this).parent().find('i.fa-minus-square').removeClass('hidden');
		console.log($(this).parent().parent().parent().parent().parent().parent());
		$(this).parent().parent().parent().parent().parent().parent().find('tbody').removeClass('hidden');
	});
	$('.portlet_generate_report i.fa-minus-square',this).click(function(){
		console.log(this);
		$(this).parent().find('i.fa-minus-square').addClass('hidden');
		$(this).parent().find('i.fa-plus-square').removeClass('hidden');
		$(this).parent().parent().parent().parent().parent().parent().find('tbody').addClass('hidden');
	});
	
	
	
}); 

</script>
