<div class="col-md-12 portlet portlet_keyaccessdates">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-calendar-check-o" aria-hidden="true"></i>
			Late Task
			<!-- <span class="plate_asof">(As of : 3rd July 2016)</span> -->
		</div>
		<div class="col-md-12 portlet_content">
			<div class=" height_x1">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation">Tasks</th>
							<th class="col_separation set_center">Duration</th>
							<th class="col_separation set_center">Start Date</th>
							<th class="col_separation set_center">End Date</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Server Installation (Unit 2)</td>
							<td>6 Weeks</td>
							<td class="set_center">30 Sep 2015</td>
							<td class="set_center">31 Oct 2015</td>
						</tr>
						<tr>
							<td>Server Installation (Unit 2)</td>
							<td>6 Weeks</td>
							<td class="set_center">30 Sep 2015</td>
							<td class="set_center">31 Oct 2015</td>
						</tr>
						<tr>
							<td>Server Installation (Unit 2)</td>
							<td>6 Weeks</td>
							<td class="set_center">30 Sep 2015</td>
							<td class="set_center">31 Oct 2015</td>
						</tr>
						<tr>
							<td>Server Installation (Unit 2)</td>
							<td>6 Weeks</td>
							<td class="set_center">30 Sep 2015</td>
							<td class="set_center">31 Oct 2015</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>