<div class="col-md-12 portlet portlet_psds_installation">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-calendar-check-o" aria-hidden="true"></i>
			<% if (typeof(data.data[0]) !=="undefined"){%>
			<% if (typeof(data.data[0].date) !== "undefined") { %>
				<%=data.title%> <span class="plate_asof">(As of : <%=data.data[0].date%>) </span>
			<% } else {%>
				<%=data.title%>
			<% }}else {%>
				<%=data.title%>
			<% }%>

			<a href="#" data-toggle="modal" data-target="#modal_ring_comment"><i class="fa fa-comments" style="color: cyan" ></i></a>
		</div>
		<div class="col-md-12 portlet_content pl0">
			<div class="row">
				<div class="col-md-12">
					
					<table class="table table-bordered table-condensed table" style="">
						<thead>
							<tr>
								<th rowspan="2" class="color-beige">Station</th>
								<th rowspan="2" class="color-beige">Installation</th>
								<th rowspan="2" class="color-beige">AC/DC</th>
								<th colspan="2" class="color-beige">Testing</th>
								<th colspan="2" class="color-beige">Energization</th>
							</tr>
							<tr>
								<th class="pat_sat">PAT</th>
								<th class="pat_sat">SAT</th>
								<th class="mrt_colorcode_target">Forecast</th>
								<th class="mrt_colorcode_actual">Actual</th>
							</tr>
						</thead>
					   

						<tbody></tbody>
					</table>
					<div class="legend"> 

						<span class="circle_completed"><i class="fa fa-circle"></i><span>Completed</span></span>
						<span class="circle_in_progress"><i class="fa fa-circle"></i><span>In Progress</span></span>
						<span class="circle_pending"><i class="fa fa-circle"></i><span>Pending</span></span>
					   
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade portlet_etde_progress_detail modal_train" id="modal_ring_comment" tabindex="-1" role="dialog" aria-labelledby="aaaa" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: #ce1797"><h4>×</h4></button>
				<h4 class="modal-title"><i class="fa fa-comments"></i> Add Comment</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 20px;">
				<div class="table-container1" style="max-width: 500px; text-align: center; margin: auto; ">
					<div class="row"  style="margin-bottom: 15px;">
						<div style="top: 5px; margin-bottom: 6px; width: 50%;" class="input-group">
							<input style="cursor: pointer;" readonly="true" id="comment_date" class="form-control" type="text" value="" placeholder="Select date" name="comment-date">
							<input type="hidden" id="comment_date_selected" value=""/>
                            <span id="comment_selector" style="cursor: pointer;" class="input-group-addon">
                                <i id="date_open" class="fa fa-calendar"></i>
                            </span>
						</div>
					</div>
					<div class="row">
						<textarea cols="28" rows="5" placeholder="Your Comment...." maxlength="100" id="ring_comment" style="border-color: rgba(21, 166, 233, 0.2);" class="form-control"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" id="cmnt_ring" class="btn btn-success pull-right" style="margin-right: 22px;">Submit</button>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	
/*

portlet_psds_installation

*/

div.portlet_psds_installation div.content {
	background: #252237;
}
div.portlet_psds_installation div.portlet_content {
}
div.portlet_psds_installation div.portlet_title {
	color: #fff;
}


/*table setup*/
.portlet_psds_installation {
	padding: 10px 0 0 0;
}
.portlet_psds_installation thead {
	background: #111;
}
.portlet_psds_installation table {
	font-size: .9em;
	margin-left: 15px;
}
	/*theader border*/
	.portlet_psds_installation table th {
		border-bottom: 1px solid #000 !important;
		font-weight: normal;
		text-align: center;
	}
	.portlet_psds_installation table .col_separation {
		border-right: 2px solid #223;
	}

	/*tbody border*/
	div.portlet_psds_installation table tbody td {
		border-bottom: 1px solid #669 !important;
	}

div.portlet_psds_installation table thead th:first-child {
	width: 150px;
	text-align: left;
}

div.portlet_psds_installation div.upper_box {
	padding: 10px 0;
	text-align: center;
	background: rgba(255,255,255,.15);
	color: #ff0;
}
div.portlet_psds_installation div.lower_box {
	padding: 10px 0;
}

div.portlet_psds_installation div.table_title {
	padding: 10px 20px;
}

div.portlet_psds_installation span.data_holder.data_days {
	font-size: 2em;
}

div.portlet_psds_installation span.data_holder.data_early {
	color: #0fa;
}
div.portlet_psds_installation span.data_holder.data_variance {
	color: #f5f;
}




.portlet_psds_installation .color-beige{
	text-align: center; 
	vertical-align: middle
}

.portlet_psds_installation .pat_sat{
	text-align: center; 
	color: #FFAF78
}

.portlet_psds_installation .circle_completed i{
	color:#0fa;
}
.portlet_psds_installation .circle_in_progress i{
	color:#ff0;
}
.portlet_psds_installation .circle_pending i{
	color:#f05;
}
.portlet_psds_installation .circle_none i,
.portlet_psds_installation i{
	color:rgba(0,0,0,0);
}

.portlet_psds_installation .align{
	 text-align: center;
}

.portlet_psds_installation .legend{
	text-align: right; 
	margin-top: 15px;
	margin-bottom: 20px;
}
.portlet_psds_installation .legend span{
	padding: 0 10px 0;
}
.portlet_psds_installation .legend span i{
	padding: 0 10px;
}
		
</style>




<script type="text/javascript">
	
$(document).ready(function(){


});

</script>

