<div class="col-md-12 portlet portlet_etde_project_timeline">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-calendar-check-o" aria-hidden="true"></i>
			<% if (typeof(data.data) !=="undefined"){%>
			<% if (typeof(data.data[0]['date']) !== "undefined") { %>
				<%=data.title%> <span class="plate_asof">(As of : <%=data.data[0]['date']%>) </span>
			<% } else {%>
				<%=data.title%>
			<% }}else {%>
				<%=data.title%>
			<% }%>
		</div>
		<div class="col-md-12 portlet_content pl0">
			<div class="row">
				<div class="col-md-12">
					<%console.log(data)%>
					<div class="table_title">Project Completion Countdown :</div>
					<table class="table">
						<thead>
							<tr>
								<th>Project Phase</th>
								<th>SAT</th>
								<th>SIT</th>
								<th>Trial Run</th>
							</tr>
						</thead>
						<tbody>
						<%
						for(var i=1; i<(data.data).length; i++){
						var varsat="-";
						var varsit="-";
						var vart="-";
						var phase = data.data[i]['phase'];
						var satdate = data.data[i]['sat_date'];
						var sitdate = data.data[i]['sit_date'];
						var trialdate = data.data[i]['trial_date'];
						<!--var variance = Math.round(compareDates(data.data[i][1],data.data[i][2]));-->
						if(satdate !=="-"){
						var daysleftsat = compareDate(satdate)
						}else { daysleftsat="-";
						}
						if(sitdate !=="-"){
						var daysleftsit = compareDate(sitdate)
						}else { daysleftsit="-";
						}
						if(trialdate !=="-"){
						var dayslefttrial = compareDate(trialdate)
						}else { dayslefttrial="-";
						}
						if( daysleftsat < 0){ daysleftsat=0 };
						if( daysleftsit < 0){ daysleftsit=0 };
						if( dayslefttrial < 0){ dayslefttrial=0 };
						if(isNaN(daysleftsat) || daysleftsat < 1 ){
						 varsat="- w";
						}else{
						varsat=Math.floor(daysleftsat/7)+ " w";
						}
						if(isNaN(daysleftsit) || daysleftsit < 1){
						 varsit="- w";
						}else{
						varsit=Math.floor(daysleftsit/7)+ " w";
						}
						if(isNaN(dayslefttrial) || dayslefttrial < 1){
						vart="- w";
						}else{
						vart=Math.floor(dayslefttrial/7) + " w";
						}
						%>

							 <tr>
								<td>
									<%=phase%>
								</td>
								<td>
									<div class="col-md-12 upper_box">
										<div class="row">
											<div class="col-md-12 col1_data1_data"><span class="data_holder data_days"><%=daysleftsat%></span></div>
											<div class="col-md-12 col1_data1_label">Days Left</div>
										</div>
									</div>
									<div class="col-md-12 lower_box">
										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12 col1_data2_label">Start Date</div>
													<div class="col-md-12 col1_data2_data"><span class="data_holder data_early"><%=satdate%></span></div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12 col1_data3_label">Variance</div>
													<div class="col-md-12 col1_data3_data"><span class="data_holder data_variance"><%=varsat%></span></div>
												</div>
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="col-md-12 upper_box">
										<div class="row">
											<div class="col-md-12 col2_data1_data"><span class="data_holder data_days"><%=daysleftsit%></span></div>
											<div class="col-md-12 col2_data1_label">Days Left</div>
										</div>
									</div>
									<div class="col-md-12 lower_box">
										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12 col2_data2_label">Start Date</div>
													<div class="col-md-12 col2_data2_data"><span class="data_holder data_early"><%=sitdate%></span></div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12 col2_data3_label">Variance</div>
													<div class="col-md-12 col2_data3_data"><span class="data_holder data_variance"><%=varsit%></span></div>
												</div>
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="col-md-12 upper_box">
										<div class="row">
											<div class="col-md-12 col3_data1_data"><span class="data_holder data_days"><%=dayslefttrial%></span></div>
											<div class="col-md-12 col3_data1_label">Days Left</div>
										</div>
									</div>
									<div class="col-md-12 lower_box">
										<div class="row">
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12 col3_data2_label">Start Date</div>
													<div class="col-md-12 col3_data2_data"><span class="data_holder data_early"><%=trialdate%></span></div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="row">
													<div class="col-md-12 col3_data3_label">Variance</div>
													<div class="col-md-12 col3_data3_data"><span class="data_holder data_variance"><%=vart%></span></div>
												</div>
											</div>
										</div>
									</div>
								</td>
							</tr>
						<%}%>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	
$(document).ready(function(){



});

</script>
