<div class="col-md-12 portlet portlet_psds_gis">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-map-o" aria-hidden="true"></i>
			<% if (typeof(data.data[0]) !=="undefined"){%>
			<% if (typeof(data.data[0].date) !== "undefined") { %>
				<%=data.title%> <span class="plate_asof">(As of : <%=data.data[0].date%>) </span>
			<% } else {%>
				<%=data.title%>
			<% }}else {%>
				<%=data.title%>
			<% }%>
		</div>
		
		<!-- -- -- -- -->
		
		<div id="portlet_infographic" class="">
			<div class="ig_plate">
				
				<!-- -- -- -- -->

				<div id="float_plate" class="row">
					<div id="plate_vector_map" class="plate_vector_map">
						missing plate_vector_map.svg
					</div>
					
					<div id="plate_legend">
						<div id="pl_label_header">
							<span class="set1">Legends</span>
						</div>
						<div id="pl_label_content">
							<span class="set1">Not Started</span>
							<span class="set2">On Schedule</span>
							<span class="set3">Behind Late</span>
							<span class="set4">Critical</span>
							<span class="set5">Work Not Yet Started</span>
							<span class="set6">Work In Progress</span>
							<span class="set7">Testing Completed</span>
							<span class="set8">AC Energized</span>
							<span class="set9">AC & DC Energized</span>
							<span class="set10">Ahead Progress From <br> The Early Finish Curve</span>
							<span class="set11">Within The Early Finish <br> & Late Finish Curve</span>
							<span class="set12">Delay & Out From The Late <br>Finish Curve  & Late Finish Curve</span>
							
							

						</div>
					</div>
							
					
					<div id="plate_system">
						<div id="donut_plate">
							<div id="dp_db_donut_0" class="dp_top"></div>
						</div>
					</div>
					
					<div id="button_group">
						<div class="menu">

							<div id="box1_modal-installation" class="modal fade -modal-lg modal_table" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h2 class="modal-title">Installation</h2>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<table class="table">
												<thead>
													<tr class="in">
														<th>Activities</th>
														<th>Details</th>
														<th>Percentage</th>
													</tr>
												</thead>
												<tbody></tbody>
													
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>



							<div id="box1_modal-test" class="modal fade -modal-lg modal_table" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<h2 class="modal-title">Test & Comm.</h2>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<table class="table table-bordered">
												<thead>

														<center><h3>Activities/Progress</h3></center>
													
													<tr>
														<th>Ring</th>
														<th>Comment</th>
														<th>Date</th>
													</tr>
												</thead>
												<tbody></tbody>
												
											</table>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>

							<div id="box1" class="box">


									
								<div class="up">Design</div>
								<div class="middle"><img src="../assets/mmc/images/button/tools.png"></div>
								<div class="below">
									<div class="number_d"></div>
									<div class="trend_d"></div>
								</div>

							</div>

							<div id="box2" class="box">

								<div class="up">Installation</div>
								<a href="#" data-toggle="modal" data-target="#box1_modal-installation"><div class="middle"><img src="../assets/mmc/images/button/cable.png"></div></a>
								<div class="below">
									<div class="number_i"></div>
									<div class="trend_i"></div>
								</div>

							</div>

							<div id="box3" class="box">

								<div class="up">Test & Comm</div>
								<a href="#" data-toggle="modal" data-target="#box1_modal-test"><div class="middle"><img src="../assets/mmc/images/button/battery.png"></div></a>
								<div class="below">
									<div class="number_t"></div>
									<div class="trend_t"></div>
								</div>

							</div>

							<div id="box4" class="box">

								<div class="up">Hand Over</div>
								<div class="middle"><img src="../assets/mmc/images/button/beg.png"></div>
								<div class="below">
									<div class="number_t"></div>
									<div class="trend_t"></div>
								</div>

							</div>

							
						</div>
					</div>


					<div id="plate_physical">
						<div id="pp_station">
							<span class="set1"></span>
						</div>
						<div id="pp_depot">
							<span class="set1"></span>
						</div>
					</div>
					<div id="plate_label">
						<div id="pl_depot">
							<span class="set1"><a href="<%=baseURL%>serdang-dpt/index">Serdang Depot</a></span>
						</div>

							<div id="pl_station">
								<span class="set1"><a href="<%=baseURL%>sg-buloh/index">Sg. Buloh</a></span>
								<span class="set2"><a href="<%=baseURL%>dsara-damai/index">D'sara Damai</a></span>
								<span class="set3"><a href="<%=baseURL%>sri-dsara-west/index">Sri D'sara West</a></span>
								<span class="set4"><a href="<%=baseURL%>sri-dsara-east/index">Sri D'sara East</a></span>
								<span class="set5"><a href="<%=baseURL%>kepong-sentral/index">Kepong Sentral</a></span>
								<span class="set6"><a href="<%=baseURL%>metro-prima/index">Metro Prima</a></span>
								<span class="set7"><a href="<%=baseURL%>kepong-baru/index">Kepong Baru</a></span>
								<span class="set8"><a href="<%=baseURL%>jinjang/index">Jinjang</a></span>
								<span class="set9"><a href="<%=baseURL%>sri-delima/index">Sri Delima</a></span>
								<span class="set10"><a href="<%=baseURL%>kg-batu/index">Kg. Batu</a></span>
								<span class="set11"><a href="<%=baseURL%>kentonmen/index">Kentonmen</a></span>
								<span class="set12"><a href="<%=baseURL%>jln-ipoh/index">Jln. Ipoh</a></span>
								<span class="set13"><a href="<%=baseURL%>sentul-west/index">Sentul West</a></span>
								<span class="set14"><a href="<%=baseURL%>titiwangsa/index">Titiwangsa</a></span>
								<span class="set15"><a href="<%=baseURL%>hkl/index">HKL</a></span>
								<span class="set16"><a href="<%=baseURL%>kg-baru-north/index">Kg. Baru North</a></span>
								<span class="set17"><a href="<%=baseURL%>ampang-park/index">Ampang Park</a></span>
								<span class="set18"><a href="<%=baseURL%>klcc-east/index">KLCC East</a></span>
								<span class="set19"><a href="<%=baseURL%>conlay/index">Conlay</a></span>
								<span class="set20"><a href="<%=baseURL%>trx/index">TRX</a></span>
								<span class="set21"><a href="<%=baseURL%>chan-sow-lin/index">Chan Sow Lin</a></span>
								<span class="set22"><a href="<%=baseURL%>bdr-malaysia-north/index">Bdr. Malaysia North</a></span>
								<span class="set23"><a href="<%=baseURL%>bdr-malaysia-south/index">Bdr. Malaysia South</a></span>
								<span class="set24"><a href="<%=baseURL%>kuchai-lama/index">Kuchai Lama</a></span>
								<span class="set25"><a href="<%=baseURL%>tmn-naga-emas/index">Tmn. Naga Emas</a></span>
								<span class="set26"><a href="<%=baseURL%>sg-besi/index">Sg. Besi</a></span>
								<span class="set27"><a href="<%=baseURL%>tech-park/index">Tech. Park</a></span>
								<span class="set28"><a href="<%=baseURL%>serdang-raya-north/index">Serdang Raya North</a></span>
								<span class="set29"><a href="<%=baseURL%>serdang-raya-south/index">Serdang Raya South</a></span>
								<span class="set30"><a href="<%=baseURL%>sri-kembangan/index">Sri Kembangan</a></span>
								<span class="set31"><a href="<%=baseURL%>upm/index">UPM</a></span>
								<span class="set32"><a href="<%=baseURL%>tmn-universiti/index">Tmn. Universiti</a></span>
								<span class="set33"><a href="<%=baseURL%>equine-park/index">Equine Park</a></span>
								<span class="set34"><a href="<%=baseURL%>tmn-putra-permai/index">Tmn. Putra Permai</a></span>
								<span class="set35"><a href="<%=baseURL%>16-sierra/index">16 Sierra</a></span>
								<span class="set36"><a href="<%=baseURL%>cyberjaya-north/index">Cyberjaya North</a></span>
								<span class="set37"><a href="<%=baseURL%>cyberjaya-city-centre/index">Cyberjaya City Centre</a></span>
								<span class="set38"><a href="<%=baseURL%>putrajaya-sentral/index">Putrajaya Sentral</a></span>
							</div>

						<div id="pl_mspr">
							<span class="set1"><a href="<%=baseURL%>mspr1/index">P</a></span>
							<span class="set2"><a href="<%=baseURL%>mspr2/index">P</a></span>
							<span class="set3"><a href="<%=baseURL%>mspr3/index">P</a></span>
							<span class="set4"><a href="<%=baseURL%>mspr4/index">P</a></span>
							<span class="set5"><a href="<%=baseURL%>mspr5/index">P</a></span>
							<span class="set6"><a href="<%=baseURL%>mspr6/index">P</a></span>
							<span class="set7"><a href="<%=baseURL%>mspr7/index">P</a></span>
							<span class="set8"><a href="<%=baseURL%>mspr8/index">P</a></span>
							<span class="set9"><a href="<%=baseURL%>mspr9/index">P</a></span>
							<span class="set10"><a href="<%=baseURL%>mspr10/index">P</a></span>
							<span class="set11"><a href="<%=baseURL%>mspr11/index">P</a></span>
							<span class="set12"><a href="<%=baseURL%>mspr12/index">P</a></span>
							<span class="set13"><a href="<%=baseURL%>mspr13/index">P</a></span>
							<span class="set14"><a href="<%=baseURL%>mspr14/index">P</a></span>
							<span class="set15"><a href="<%=baseURL%>mspr15/index">P</a></span>
						</div>
						<div id="pl_package">
							<span id="pl_package_V201" class="set1" onclick="location.href='/mpxd2/sys-psds-r1/index'" style="cursor:pointer">R1</span>
							<span id="pl_package_V202" class="set2" onclick="location.href='/mpxd2/sys-psds-r2/index'" style="cursor:pointer">R2</span>
							<span id="pl_package_V203" class="set3" onclick="location.href='/mpxd2/sys-psds-r3/index'" style="cursor:pointer">R3</span>
							<span id="pl_package_UG" class="set4">UG</span>
							<span id="pl_package_V204" class="set5" onclick="location.href='/mpxd2/sys-psds-r4/index'" style="cursor:pointer">R4</span>
							<span id="pl_package_V205" class="set6" onclick="location.href='/mpxd2/sys-psds-r5/index'" style="cursor:pointer">R5</span>
							<span id="pl_package_V206" class="set7" onclick="location.href='/mpxd2/sys-psds-r6/index'" style="cursor:pointer">R6</span>
							<span id="pl_package_V207" class="set8" onclick="location.href='/mpxd2/sys-psds-r7/index'" style="cursor:pointer">R7</span>
							<span id="pl_package_V208" class="set9" onclick="location.href='/mpxd2/sys-psds-r7/index'" style="cursor:pointer">R7</span>
							<span id="pl_package_V209" class="set10" onclick="location.href='/mpxd2/sys-psds-r7/index'" style="cursor:pointer">R7</span>
							<span id="pl_package_V210" class="set11" onclick="location.href='/mpxd2/sys-psds-r7/index'" style="cursor:pointer">R7</span>
						</div>
						<div id="pl_phase">
							<span class="set1">NORTH</span>
							<span class="set2">SOUTH</span>
						</div>
					</div>
				</div>

				<!-- -- -- -- -->

				<img src="../assets/mmc/images/base/sys_psds_gis.jpg">
			</div>
			<div class="ig_plate">
				<img src="../assets/mmc/images/base/sys_psds_gis.png">
			</div>
		</div>

		<!-- -- -- -- -->

	</div>
</div>



<style type="text/css">
	
	.portlet_psds_gis .gis_system_track{
	
		display:inline !important;
		fill:none !important;
		/*stroke-width:10 !important;*/
		stroke-linecap:butt!important;
		stroke-linejoin:miter!important;
		stroke-miterlimit:4!important;
		stroke-dasharray:none!important;
		stroke-opacity:1 !important
	}


		/*____________________________________________
		map and plate
		--------------------------------------------*/
		.portlet_psds_gis div#portlet_infographic {
			margin-top: 50px!important;
		}
		.portlet_psds_gis div#portlet_infographic div.ig_plate {
			position: absolute;
		}
		.portlet_psds_gis div#portlet_infographic div img{
			width: 100%;
			height: 100%;
		}

		.portlet_psds_gis #dashboard {
			width: 99%;
			padding: 5px 0;
		}


		/*____________________________________________
		float - plate_gis and stats
		--------------------------------------------*/

		/*setup*/
		.portlet_psds_gis #float_plate {
			/*position: absolute;*/
			width: 100%;
			height: 100%;
		}
		.portlet_psds_gis #plate_vector_map,
		.portlet_psds_gis #plate_overall_progress,
		.portlet_psds_gis #plate_commercial,
		.portlet_psds_gis #plate_legend,
		.portlet_psds_gis #pl_depot,
		.portlet_psds_gis #plate_label, 
		.portlet_psds_gis #pl_phase,
		.portlet_psds_gis #pl_station,
		.portlet_psds_gis #pl_mspr,
		.portlet_psds_gis #pl_package {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		/*z index*/
		.portlet_psds_gis #plate_vector_map {
			z-index: 3000;
		}
			.portlet_psds_gis #plate_vector_map .v_station:hover {
				cursor: pointer;
			}
			.portlet_psds_gis #plate_vector_map .v_depot:hover {
				cursor: pointer;
			}
			.portlet_psds_gis #plate_vector_map .v_station a,
			.portlet_psds_gis #pl_station span a,
			.portlet_psds_gis #pl_mspr span a {
				color: #fff;
			}
			
		.portlet_psds_gis #plate_overall_progress {
			z-index: 1000;
		}
		.portlet_psds_gis #plate_commercial { 
			z-index: 1000;
		}
		.portlet_psds_gis #plate_legend {
			z-index: 1000;
		}
		.portlet_psds_gis #pl_depot > span {
			z-index: 3000;
		}
		.portlet_psds_gis #pl_station > span {
			z-index: 3000;
		}
		.portlet_psds_gis #pl_mspr > span {
			z-index: 3000;
		}
		.portlet_psds_gis #pl_package > span {
			z-index: 3000;
		}
		.portlet_psds_gis #pl_phase > div {
			z-index: 3000;
		}
		.portlet_psds_gis #donut_plate {
			z-index: 3000;
		}

		.portlet_psds_gis /*#button_group{
			z-index: 3001;
		}*/
		/*	plate_vector_map
		*/
		.portlet_psds_gis #plate_vector_map {
			position: absolute;
		}


		/*	pop_label
		*/
		.portlet_psds_gis #pop_label span {
			/*display: none;*/
			position: absolute;
			font-size: 1.1vw;
			color: #000;
		}
		.portlet_psds_gis #pop_label span.set1 {
			top: 1.0%;
			left: 71.5%;
			color: #fff;
			font-size: 1.3vw;
		}
		.portlet_psds_gis #pop_label span.set1 {top: 1.2%; left: 62.5%;}
		.portlet_psds_gis #pop_label span.set2 {top: 6.2%; left: 63.0%;}
		.portlet_psds_gis #pop_label span.set3 {top: 6.2%; left: 72.0%;}
		.portlet_psds_gis #pop_label span.set4 {top: 6.2%; left: 81.5%;}
		.portlet_psds_gis #pop_label span.set5 {top: 6.2%; left: 90.6%;}

		/*	pop_value
		*/
		.portlet_psds_gis #pop_value span {
			/*display: none;*/
			position: absolute;
			font-size: 3.3vw;
			color: #fff;
			text-shadow:
			-1px -1px 0 rgba(0,0,0,1),  
			1px -1px 0 rgba(0,0,0,1),
			-1px 1px 0 rgba(0,0,0,1),
			1px 1px 0 rgba(0,0,0,1);
		}
		.portlet_psds_gis #pop_value span.set1 {top: 11.0%; left: 61.9%;}
		.portlet_psds_gis #pop_value span.set2 {top: 11.0%; left: 71.5%;}
		.portlet_psds_gis #pop_value span.set3 {top: 11.0%; left: 81.0%;}
		.portlet_psds_gis #pop_value span.set4 {top: 12.0%; left: 90.4%;}

		.portlet_psds_gis #pop_value span.set4 i {
			font-size: 3.3vw;
			text-align: center;
			color: #0f5;
		}
		.portlet_psds_gis #pop_value span.set4 {
			font-size: 1.1vw;
			text-align: center;
			color: #0f5;
		}

		/*	pcom_label
		*/
		.portlet_psds_gis #pcom_label span {
			/*display: none;*/
			position: absolute;
			font-size: .9vw;
			color: #fff;
			width: 10%;
			background: none;
			text-align: center;
		}
		.portlet_psds_gis #pcom_label span.set1 {
			top: 1.0%;
			left: 71.5%;
			color: #fff;
			width: 20%;
			background: none;
			text-align: left;
			font-size: 1.3vw;
		}

		.portlet_psds_gis #pcom_label span.set2, #pcom_label span.set3,
		.portlet_psds_gis #pcom_label span.set4, #pcom_label span.set5,
		.portlet_psds_gis #pcom_label span.set6, #pcom_label span.set7,
		.portlet_psds_gis #pcom_label span.set8 {
			background: #205;
			padding: 0 0 10px;
			border-bottom: 2px solid #335;
		}

		.portlet_psds_gis #pcom_label span.set1 {top: 60.0%; left: 32.0%;}
		.portlet_psds_gis #pcom_label span.set2 {top: 72.0%; left: 20.9%;}
		.portlet_psds_gis #pcom_label span.set3 {top: 72.0%; left: 32%;}
		.portlet_psds_gis #pcom_label span.set4 {top: 72.0%; left: 43.3%;}
		.portlet_psds_gis #pcom_label span.set5 {top: 85.5%; left: 15.5%;}
		.portlet_psds_gis #pcom_label span.set6 {top: 85.5%; left: 26.2%;}
		.portlet_psds_gis #pcom_label span.set7 {top: 85.5%; left: 37.4%;}
		.portlet_psds_gis #pcom_label span.set8 {top: 85.5%; left: 48.6%;}

		/*	pcom_value
		*/
		.portlet_psds_gis #pcom_value span {
			/*display: none;*/
			position: absolute;
			margin-left: 2px;
			font-size: 1.7vw;
			border-top: 2px solid #335;
			color: #ff0;
			width: 10%;
			background: #205;
			text-align: center;
			text-shadow:
			-1px -1px 0 rgba(0,0,0,1),  
			1px -1px 0 rgba(0,0,0,1),
			-1px 1px 0 rgba(0,0,0,1),
			1px 1px 0 rgba(0,0,0,1);
		}
		.portlet_psds_gis #pcom_value span.set1 {top: 67.0%; left: 20.8%;}
		.portlet_psds_gis #pcom_value span.set2 {top: 67.0%; left: 32%;}
		.portlet_psds_gis #pcom_value span.set3 {top: 67.0%; left: 43.2%;}
		.portlet_psds_gis #pcom_value span.set4 {top: 80.2%; left: 15.4%;}
		.portlet_psds_gis #pcom_value span.set5 {top: 80.2%; left: 26.2%;}
		.portlet_psds_gis #pcom_value span.set6 {top: 80.2%; left: 37.4%;}
		.portlet_psds_gis #pcom_value span.set7 {top: 80.2%; left: 48.6%;}


		/*	pl_label_header
		*/
		.portlet_psds_gis #pl_label_header span {
			/*display: none;*/
			position: absolute;
			font-size: 1.1vw;
			color: #fff;
		}
		.portlet_psds_gis #pl_label_header span.set1 {top: 64%; left: 36%;}

		/*	pl_label_content
		*/
		.portlet_psds_gis #pl_label_content span {
			/*display: none;*/
			position: absolute;
			font-size: .9vw;
			color: #fff;
		}
		.portlet_psds_gis #pl_label_content span.set1 {top: 80.5%; left: 23.5%;}
		.portlet_psds_gis #pl_label_content span.set2 {top: 77%; left: 23.5%;}
		.portlet_psds_gis #pl_label_content span.set3 {top: 73.5%; left: 23.5%;}
		.portlet_psds_gis #pl_label_content span.set4 {top: 69.5%; left: 23.5%;}

		.portlet_psds_gis #pl_label_content span.set5 {top: 69.5%; left: 34.5%;}
		.portlet_psds_gis #pl_label_content span.set6 {top: 73.5%; left: 34.5%;}
		.portlet_psds_gis #pl_label_content span.set7 {top: 77.5%; left: 34.5%;}
		.portlet_psds_gis #pl_label_content span.set8 {top: 81%; left: 34.5%;}
		.portlet_psds_gis #pl_label_content span.set9 {top: 84.5%; left: 34.5%;}

		.portlet_psds_gis #pl_label_content span.set10 {top: 69.5%; left: 47.5%;}
		.portlet_psds_gis #pl_label_content span.set11 {top: 76.5%; left: 47.5%;}
		.portlet_psds_gis #pl_label_content span.set12 {top: 83%; left: 47.5%;}
		/*plate_issue*/
		/*	pi_title
		*/
		.portlet_psds_gis #pi_title span {
			/*display: none;*/
			position: absolute;
			font-size: 1.3vw;
			color: #fff;
			text-shadow:
			-1px -1px 0 rgba(255,0,70,.25),  
			1px -1px 0 rgba(255,0,70,.25),
			-1px 1px 0 rgba(255,0,70,.25),
			1px 1px 0 rgba(255,0,70,.25);
		}
		.portlet_psds_gis #pi_title span.set1 {top: 6.7%; left: 2.2%;}
		.portlet_psds_gis #pi_title span.set2 {top: 6.0%; left: 3.8%;}


		/*	pi_subtitle
		*/
		.portlet_psds_gis #pi_subtitle span {
			/*display: none;*/
			position: absolute;
			font-size: .8vw;
			color: #fff;
			text-shadow:
			-1px -1px 0 rgba(255,0,70,.25),  
			1px -1px 0 rgba(255,0,70,.25),
			-1px 1px 0 rgba(255,0,70,.25),
			1px 1px 0 rgba(255,0,70,.25);
		}
		.portlet_psds_gis #pi_subtitle span.set1 {top: 9.0%; left: 3.8%;}


		/*	pl_phase
		*/
		.portlet_psds_gis #pl_phase span {
			/*display: none;*/
			position: absolute;
			font-size: 2em;
			color: rgba(255,255,255,.5);
		}
		.portlet_psds_gis #pl_phase span.set1 {top: 16.5%; left: 2.5%;}
		.portlet_psds_gis #pl_phase span.set2 {top: 27%; left: 65%;}

		/*	pl_package
		*/
		.portlet_psds_gis #pl_package span {
			/*display: none;*/
			position: absolute;
			font-size: 1.3em;
			font-weight: bold;
			padding: 2px 5px;
			border-radius: 3px;
			/*background: rgba(0,0,0,.25);*/
			/*border:1px solid rgba(0,0,0,.35);*/
			color: #fff;
		}
		.portlet_psds_gis #pl_package span.set1 {top: 67.5%; left: 13.0%;}
		.portlet_psds_gis #pl_package span.set2 {top: 52.0%; left: 15.8%;}
		.portlet_psds_gis #pl_package span.set3 {top: 42.5%; left: 20.0%;}
		.portlet_psds_gis #pl_package span.set4 {top: 28.0%; left: 31.5%;}
		.portlet_psds_gis #pl_package span.set5 {top: 48.6%; left: 43.5%;}
		.portlet_psds_gis #pl_package span.set6 {top: 48.6%; left: 52.5%;}
		.portlet_psds_gis #pl_package span.set7 {top: 51.0%; left: 59.5%;}
		.portlet_psds_gis #pl_package span.set8 {top: 60.2%; left: 58.2%;}
		.portlet_psds_gis #pl_package span.set9 {top: 67.5%; left: 58.2%;}
		.portlet_psds_gis #pl_package span.set10 {top: 92.8%; left: 71.5%;}
		.portlet_psds_gis #pl_package span.set11 {top: 92.8%; left: 84.0%;}


		/*	pl_mspr
		*/
		.portlet_psds_gis #pl_mspr span {
			/*display: none;*/
			position: absolute;
			font-size: .7em;
			font-weight: bolder;
			border-radius: 3px;
			border: 2px solid #fff;
			padding: 0px 3px;
			background: #05f;
			color: #fff;
			text-shadow:
			-1px -1px 0 rgba(0,0,0,1),  
			1px -1px 0 rgba(0,0,0,1),
			-1px 1px 0 rgba(0,0,0,1),
			1px 1px 0 rgba(0,0,0,1);
		}
		.portlet_psds_gis #pl_mspr span.set1 {top: 73.0%; left: 5.7%;}
		.portlet_psds_gis #pl_mspr span.set2 {top: 65.1%; left: 7.2%;}
		.portlet_psds_gis #pl_mspr span.set3 {top: 57.5%; left: 8.5%;}
		.portlet_psds_gis #pl_mspr span.set4 {top: 29.0%; left: 10.4%;}
		.portlet_psds_gis #pl_mspr span.set5 {top: 26.1%; left: 15.7%;}
		.portlet_psds_gis #pl_mspr span.set6 {top: 34.2%; left: 44.9%;}
		.portlet_psds_gis #pl_mspr span.set7 {top: 33.5%; left: 48.4%;}
		.portlet_psds_gis #pl_mspr span.set8 {top: 36.5%; left: 52.2%;}
		.portlet_psds_gis #pl_mspr span.set9 {top: 39.3%; left: 54.7%;}
		.portlet_psds_gis #pl_mspr span.set10 {top: 37.8%; left: 58.4%;}
		.portlet_psds_gis #pl_mspr span.set11 {top: 44.5%; left: 62.2%;}
		.portlet_psds_gis #pl_mspr span.set12 {top: 47.5%; left: 65.9%;}
		.portlet_psds_gis #pl_mspr span.set13 {top: 70.0%; left: 70.2%;}
		.portlet_psds_gis #pl_mspr span.set14 {top: 91.0%; left: 78.2%;}
		.portlet_psds_gis #pl_mspr span.set15 {top: 85.8%; left: 85.5%;}

		/*	pl_station
		*/
		.portlet_psds_gis #pl_station span {
			/*display: none;*/
			position: absolute;
			font-size: 1em;
			color: #eef;
			text-shadow:
			-1px -1px 0 rgba(0,0,255,.3),  
			1px -1px 0 rgba(0,0,255,.3),
			-1px 1px 0 rgba(0,0,255,.3),
			1px 1px 0 rgba(0,0,255,.3);
		}
		.portlet_psds_gis #pl_station span.set1 {top: 78.6%; left: 6.0%;}
		.portlet_psds_gis #pl_station span.set2 {top: 74.3%; left: 8.2%;}
		.portlet_psds_gis #pl_station span.set3 {top: 63.1%; left: 10.2%;}
		.portlet_psds_gis #pl_station span.set4 {top: 58.5%; left: 11.0%;}
		.portlet_psds_gis #pl_station span.set5 {top: 48.5%; left: 9.0%;}
		.portlet_psds_gis #pl_station span.set6 {top: 42.5%; left: 8.7%;}
		.portlet_psds_gis #pl_station span.set7 {top: 36.5%; right: 91.1%;}
		.portlet_psds_gis #pl_station span.set8 {top: 32.1%; right: 89.9%;}
		.portlet_psds_gis #pl_station span.set9 {top: 30.8%; left: 12.5%;}
		.portlet_psds_gis #pl_station span.set10 {top: 24.2%; right: 87.7%;}
		.portlet_psds_gis #pl_station span.set11 {top: 18.5%; right: 82.0%;}
		.portlet_psds_gis #pl_station span.set12 {top: 27.6%; left: 17.9%;}
		.portlet_psds_gis #pl_station span.set13 {top: 23.8%; left: 22.2%;}
		.portlet_psds_gis #pl_station span.set14 {top: 18.3%; left: 24.2%;}
		.portlet_psds_gis #pl_station span.set15 {top: 13.0%; right: 76.1%;}
		.portlet_psds_gis #pl_station span.set16 {top: 8.7%; right: 73.8%;}
		.portlet_psds_gis #pl_station span.set17 {top: 2.0%; right: 70.9%;}
		.portlet_psds_gis #pl_station span.set18 {top: 0.0%; left: 29.7%;}
		.portlet_psds_gis #pl_station span.set19 {top: 3.0%; left: 31.7%;}
		.portlet_psds_gis #pl_station span.set20 {top: 6.0%; left: 33.5%;}
		.portlet_psds_gis #pl_station span.set21 {top: 13.0%; left: 38.0%;}
		.portlet_psds_gis #pl_station span.set22 {top: 22.5%; left: 39.7%;}
		.portlet_psds_gis #pl_station span.set23 {top: 27.6%; left: 41.3%;}
		.portlet_psds_gis #pl_station span.set24 {top: 36.9%; right: 55.2%;}
		.portlet_psds_gis #pl_station span.set25 {top: 40.2%; right: 50.6%;}
		.portlet_psds_gis #pl_station span.set26 {top: 28.7%; left: 53.3%;}
		.portlet_psds_gis #pl_station span.set27 {top: 31.4%; left: 55.5%;}
		.portlet_psds_gis #pl_station span.set28 {top: 43.8%; right: 40.6%;}
		.portlet_psds_gis #pl_station span.set29 {top: 35.0%; left: 62.5%;}
		.portlet_psds_gis #pl_station span.set30 {top: 38.2%; left: 64.5%;}
		.portlet_psds_gis #pl_station span.set31 {top: 47.3%; left: 68.5%;}
		.portlet_psds_gis #pl_station span.set32 {top: 57.0%; right: 32.0%;}
		.portlet_psds_gis #pl_station span.set33 {top: 71.5%; right: 30.4%;}
		.portlet_psds_gis #pl_station span.set34 {top: 78.0%; right: 30.4%;}
		.portlet_psds_gis #pl_station span.set35 {top: 86.3%; right: 26.2%;}
		.portlet_psds_gis #pl_station span.set36 {top: 80.2%; right: 18.2%;}
		.portlet_psds_gis #pl_station span.set37 {top: 89.8%; left: 82.0%;}
		.portlet_psds_gis #pl_station span.set38 {top: 82.0%; left: 85.5%;}

		/*	pl_depot
		*/
		.portlet_psds_gis #pl_depot span {
			/*display: none;*/
			position: absolute;
			font-size: 1em;
			color: #eef;
			text-shadow:
			-1px -1px 0 rgba(0,0,255,.3),  
			1px -1px 0 rgba(0,0,255,.3),
			-1px 1px 0 rgba(0,0,255,.3),
			1px 1px 0 rgba(0,0,255,.3);
		}
		.portlet_psds_gis #pl_depot span.set1 {top: 62.5%; left: 70.0%;}





		/*____________________________________________
		track path
		--------------------------------------------*/



		/*track*/
		.portlet_psds_gis .v_track {
			display: inline;
			fill-opacity:1;
			stroke-width:1;
			stroke-miterlimit:4;
			stroke-dasharray:none;
			stroke-opacity:1;
		}

		/*station*/
		.portlet_psds_gis .v_station {
			opacity:1;
			fill-opacity:1;
			stroke-width:2.5;
			stroke-miterlimit:4;
			stroke-dasharray:none;
			stroke-opacity:1;
		}

		/*station*/
		.portlet_psds_gis .v_depot {
			opacity:1;
			fill-opacity:1;
			stroke-width:2.5;
			stroke-miterlimit:4;
			stroke-dasharray:none;
			stroke-opacity:1;
		}



		.portlet_psds_gis #plate_system {
			position: absolute;
			width: 100%;
			height: 100%;
			
		}

		.portlet_psds_gis #donut_plate {
			position: absolute;
			top: 40%;
			left: 70%;
			/*width: 485px;*/
			/*background: rgba(220,220,255,.3);*/
			/*height: 400px;*/
		}

		.portlet_psds_gis circle.svg_donut_system_circle {
			fill: none;
			stroke-width: 10;
			stroke-dasharray: 0 150;
		}
		.portlet_psds_gis svg.svg_donut_system {
			margin: 0 auto;
			background: none;
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
			border-radius: 50%;
			display: block;
		}

		.portlet_psds_gis div#donut_plate > div.dp_bottom {
			display: inline-block;
			margin: 0 5px;
			width: 55px;
			height: 90px;
		}
			
		.portlet_psds_gis .donut_title1_name {
			margin: 0 30px 3px 30px;
			display: block;
			text-align: center;
			font-size: 1.8em;
		}

		.portlet_psds_gis div#button_group{
			position: absolute; 
			width: 100%;
			height: 100%;
		}

		.portlet_psds_gis div#button_group div.menu{
			position: absolute;
			top: 2%;
			right: 0%;
		}

		.portlet_psds_gis div#button_group div.menu img{
			width: 100px;
		}

		.portlet_psds_gis div#button_group div.menu div.box  {
			display: inline-block;
			background-color:rgba(255,255,255,.4);
			opacity: 1;
			width: 110px;
			height: 110px;



			text-align: center;
			font-size: 24px;
			font color: red;

		}

		.portlet_psds_gis div#button_group div.menu div.box div.up{
			background-color: #0E92CB;
			color: black;
			font-size: 0.65em;
			text-align: left;
			padding: 3px 5px;
		}

		.portlet_psds_gis div#button_group div.menu div.box div.below {
			background-color: #0E92CB
		}

		.portlet_psds_gis div#button_group div.menu div.box div.below div{
			display: inline-block;
		}

		.portlet_psds_gis div#button_group div.menu div.box div.middle img{
			height: 70px;
			width: 70px;

		}

		.portlet_psds_gis div#button_group div.menu div.box div.below i{
			color: #0f0;
		}

		.portlet_psds_gis div#button_group div.menu div.box div.below i#right{
			color: red;
		}



		.portlet_psds_gis div#button_group div.menu{
			z-index: 3001;	
		}


		/*table box*/
		.portlet_psds_gis div.modal_table div.modal-content{
			background-color: #333;

		}

		.portlet_psds_gis div.modal_table div.modal-content div.modal-body th{
			background-color: rgba(0,255,255,.35);
		}

		.portlet_psds_gis div.modal_table th{
			text-align: center;
			
		}
		.portlet_psds_gis div.modal_table {
			text-align: center;	
		}


		.portlet_psds_gis #box1_modal-installation div.modal-body tbody{
			text-align: left;
		}

		.portlet_psds_gis #box1_modal-installation div.modal-body th{
			text-align: left;
		}





</style>

<!-- ........................................................................................................................................... -->


<script type="text/javascript">
	


$(document).ready(function(){

	
}); 


</script>