<div class="col-md-12 portlet tw_kd_overall_progress">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-bar-chart" aria-hidden="true"></i>
			<% if (typeof(data.data[0]) !=="undefined"){%>
            <% if (typeof(data.data[0].date) !== "undefined") { %>
                <%=data.title%> <span class="plate_asof">(As of : <%=data.data[0].date%>) </span>
            <% } else {%>
                <%=data.title%>
            <% }}else {%>
                <%=data.title%>
            <% }%>
		</div>
		<div class="col-md-12 portlet_content pl0">
			<div class="row">
				<div class="col-md-12">
					<div id="tw_kd_overall_progress_chart_1"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div class="col-md-5">-->
	<!--<div class="row">-->
		<!--<div class="content">-->
			<!--<div style="height: 90%;" id="chart_<%=data.id%>">></div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->



<style type="text/css">

/*
tw_kd_overall_progress
*/
div.tw_kd_overall_progress div.content {
	background: #252237;
}
div.tw_kd_overall_progress div.portlet_content {
}
div.tw_kd_overall_progress div.portlet_title {
	color: #fff;
}


div.tw_kd_overall_progress div.table_title {
	padding: 10px 20px;
}




</style>

<script type="text/javascript">
$(document).ready(function(){

Highcharts.chart('tw_kd_overall_progress_chart_1', {
	chart: {
		type: 'column'
	},
	title: {
		text: ''
	},
	xAxis: {
		categories: [
          "Track Survey",
          "Surface Preparation",
          "Long Rail Distibution",
          "Rail & Sleeper Assembly",
          "Rebar & Form Settingy",
          "Concreting",
          "Derailment Wall",
          "Welding/Destressing",
          "Rail Alignment",
          "PR Bracket Installation",
          "PR Installation/Alignment",
          "PR Cover Installation",
          "Emergency Walkway",
          "Cable Through & Containment",
          "Commissioning"
        ],
        crosshair: 'true',
		title: {
			text: ''
		}
	},
	yAxis: {
		min: 0,
		title: {
			text: 'Total Work (m)'
		}
	},
	tooltip: {
		pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
		shared: true
	},
	plotOptions: {
	},
	series: [{
		name: 'Planned',
		data: [48135,48135,48135,48135,48135,48135,48135,47371,47371,47371,47371,47371,24346,20418,47371],
		color: '#9f3'
	}, {
		name: 'Actual',
		data: [48135,48135,48135,48135,47637,47637,47637,47594,47371,47537,47537,47371,24429,20418,46006],
		color: '#f59'
	}],
	credits: {
		enabled: false
	}
});

});
</script>