<div class="col-md-12 portlet portlet_summary">
	<div class="row content">
		<div class="col-md-12 portlet_title">
			<i class="fa_title_icon fa fa-circle-o-notch" aria-hidden="true"></i>
			Summary
		</div>
		<div class="col-md-12 portlet_content">
			<div class="">
				<table class="table">
					<thead>
						<tr>
							<th class="col_separation col-md-3">Underground Station</th>
							<th class="col_separation col-md-3">Actual Progress</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Sentul West</td>
							<td class="val_actual">50%</td>
						</tr>
						<tr>
							<td>Titiwangsa</td>
							<td class="val_actual">55%</td>
						</tr>
						<tr>
							<td>Hospital Kuala Lumpur</td>
							<td class="val_actual">65%</td>
						</tr>
						<tr>
							<td>Kampung Baru North</td>
							<td class="val_actual">60%</td>
						</tr>
						<tr>
							<td>Ampang Park</td>
							<td class="val_actual">40%</td>
						</tr>
						<tr>
							<td>KLCC East</td>
							<td class="val_actual">28%</td>
						</tr>
						<tr>
							<td>Conlay</td>
							<td class="val_actual">34%</td>
						</tr>
						<tr>
							<td>Tun Razak Exchange</td>
							<td class="val_actual">56.60%</td>
						</tr>
						<tr>
							<td>Chan Sow Lin</td>
							<td class="val_actual">34%</td>
						</tr>
						<tr>
							<td>Bandar Malaysia North</td>
							<td class="val_actual">56%</td>
						</tr>
						<tr>
							<td>Bandar Malaysia South</td>
							<td class="val_actual">45%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>